apps/api/workflow/chat-responder-v2.json
{
    "name": "V2 Chat Responder — Multi-Channel",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat-message",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "55123a84-d3f5-4cb4-8330-bb7bc982e700",
            "name": "Chat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -400,
                300
            ],
            "webhookId": "chat-message"
        },
        {
            "parameters": {
                "jsCode": "return items.map(item => {\n  const payload = item.json;\n  if (!payload.body) {\n    return { json: { error: 'Invalid payload structure' } };\n  }\n\n  const body = payload.body;\n  const channel = body.channel_type;\n\n  let normalized = {\n    botId: body.bot_id || null,\n    channel: channel || null,\n    conversationId: body.conversation_id || null,\n    threadId: body.external_thread_id || null,\n    user: {\n      id: null,\n      name: null,\n      username: null\n    },\n    message: {\n      id: null,\n      text: null,\n      type: body.message_type || null,\n      timestamp: null\n    },\n    raw: body.raw || null\n  };\n\n  if (channel === 'telegram') {\n    normalized.user.id = body.user?.external_id || body.raw?.message?.from?.id || null;\n    normalized.user.name = body.user?.name || `${body.raw?.message?.from?.first_name || ''} ${body.raw?.message?.from?.last_name || ''}`.trim();\n    normalized.user.username = body.user?.username || body.raw?.message?.from?.username || null;\n    normalized.message.id = body.raw?.message?.message_id || null;\n    normalized.message.text = body.raw?.message?.text || body.text || null;\n    normalized.message.timestamp = body.raw?.message?.date || null;\n  }\n\n  if (channel === 'whatsapp') {\n    normalized.user.id = body.user?.external_id || body.user?.wa_id || body.raw?.message?.from || null;\n    normalized.user.name = body.user?.name || body.user?.profile?.name || body.raw?.contact?.profile?.name || null;\n    normalized.user.username = null;\n    normalized.message.id = body.wa_message_id || body.raw?.message?.id || null;\n    normalized.message.text = body.raw?.message?.text?.body || body.text || null;\n    normalized.message.timestamp = body.raw?.message?.timestamp || null;\n  }\n\n  return { json: normalized };\n});"
            },
            "id": "ad784f44-1e94-45a7-a0f7-f1974c4ef393",
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -180,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "check-text",
                            "leftValue": "={{ $json.message.text }}",
                            "operator": {
                                "operation": "notEmpty",
                                "type": "string"
                            },
                            "rightValue": ""
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "9162ca42-6789-42e4-abba-f7159c611fd4",
            "name": "Has Content?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                40,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"skipped\": true, \"reason\": \"empty_content\" }",
                "options": {}
            },
            "id": "c45862b5-b637-4a0c-8959-573e57ded86d",
            "name": "Skip Empty",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                260,
                500
            ]
        },
        {
            "parameters": {
                "url": "=http://host.docker.internal:8080/v1/internal/bot-config/{{ $('Normalize Payload').item.json.botId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "=dev-internal-key"
                        }
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "id": "0a02b4c5-4ef5-495d-9aaa-768e3ec30fe5",
            "name": "Fetch Bot Config",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                260,
                300
            ]
        },
        {
            "parameters": {
                "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Normalize Payload').item.json.botId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "=dev-internal-key"
                        }
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "id": "fetch-templates",
            "name": "Fetch Templates",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                370,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const payload = $('Normalize Payload').first().json;\nconst config = $('Fetch Bot Config').first().json;\nconst templates = $('Fetch Templates').first().json.templates || [];\n\n// Format templates sebagai XML instruksional untuk LLM\nlet templates_xml = 'Tidak ada template khusus. Gunakan gaya bahasa natural.';\nif (templates.length > 0) {\n  templates_xml = templates.map(t => {\n    return `<TEMPLATE_ITEM name=\"${t.name}\" category=\"${t.category || 'general'}\">\n${t.content}\n</TEMPLATE_ITEM>`;\n  }).join('\\n\\n');\n}\n\nreturn [{\n  json: {\n    conversation_id: payload.conversationId,\n    bot_id: payload.botId,\n    user_message: payload.message.text,\n    channel_type: payload.channel,\n    user_name: payload.user.name || '',\n    user_id: payload.user.id || payload.conversationId,\n    system_prompt: config.system_prompt || 'You are a helpful customer service assistant.',\n    bot_name: config.name || 'AI Assistant',\n    templates_xml\n  }\n}];"
            },
            "id": "43c02741-2f01-4ec7-9ee1-f8dc6f00b88a",
            "name": "Prepare Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                530,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "5219db78-3cdd-4eec-a174-bff47f07b420",
            "name": "Load Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryManager",
            "typeVersion": 1.1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Prepare Context').item.json.conversation_id }}"
            },
            "id": "27d65cc6-42fe-4639-83aa-abe954c9d4ac",
            "name": "Chat Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                700,
                520
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json;\nconst ctx = $('Prepare Context').first().json;\nconst messages = raw.messages || [];\nconst lines = [];\n\nfor (const m of messages) {\n  if (m.human) lines.push(`User: ${m.human}`);\n  if (m.ai) lines.push(`Assistant: ${m.ai}`);\n}\n\nreturn [{\n  json: {\n    history: lines.join('\\n'),\n    user_message: ctx.user_message,\n    conversation_id: ctx.conversation_id,\n    bot_id: ctx.bot_id,\n    user_id: ctx.user_id,\n    user_name: ctx.user_name,\n    channel_type: ctx.channel_type\n  }\n}];"
            },
            "id": "d1135d9d-0bb2-4541-b60b-aa242e55eba5",
            "name": "Format History",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                920,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Identitas: Anda adalah ENGINE CLASSIFIER (JSON ONLY).\nTugas: Analisis <pesan_saat_ini> dan hasilkan output JSON.\n\n=== ATURAN KLASIFIKASI ===\n\nKONDISI 1: INTENT \"faq\" (PRIORITAS UTAMA)\n- Kriteria: Pesan berisi pertanyaan, permintaan info, instruksi, atau keluhan (termasuk jika diawali sapaan).\n- intent: \"faq\"\n- reply_direct: \"\"\n- rag_search_query: Lakukan Anaphora Resolution menggunakan <riwayat> untuk melengkapi subjek yang hilang. Ekstrak keyword murni.\n- kb_type: Klasifikasikan ke salah satu: \"faq\", \"policy\", \"product_info\", \"troubleshooting\", \"internal_guideline\"\n  * \"faq\" → pertanyaan umum (jam buka, lokasi, cara bayar)\n  * \"policy\" → garansi, retur, refund, syarat & ketentuan\n  * \"product_info\" → harga, spesifikasi, stok, varian produk\n  * \"troubleshooting\" → error, masalah teknis, kendala pesanan\n  * \"internal_guideline\" → (jarang dari user, default ke faq jika ragu)\n\nKONDISI 2: INTENT \"greeting\"\n- Kriteria: MURNI sapaan atau penutup (Halo, Pagi, Kak, Sampai jumpa).\n- intent: \"greeting\"\n- reply_direct: Buat sapaan personal. Jika ada nama di <riwayat>, sebut namanya. Jika ada topik terakhir, singgung singkat. Gunakan gaya ramah WhatsApp dengan emoji.\n- rag_search_query: \"\"\n- kb_type: \"\"\n\n<riwayat>\n{{ $json.history }}\n</riwayat>\n\n<pesan_saat_ini>\n{{ $json.user_message }}\n</pesan_saat_ini>\n\nJSON OUTPUT (HANYA JSON, tanpa markdown):",
                "batching": {}
            },
            "id": "b0f2778f-ff10-4b4a-87a5-e7508969bc9f",
            "name": "Intent Classifier",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.9,
            "position": [
                1140,
                300
            ]
        },
        {
            "parameters": {
                "model": "amazon.nova-micro-v1:0",
                "options": {
                    "temperature": 0
                }
            },
            "id": "8eff8a72-4f4a-46b9-9b77-d6d420734300",
            "name": "Nova Micro (Classifier)",
            "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
            "typeVersion": 1.1,
            "position": [
                1140,
                520
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json.text || $input.first().json.response?.text || '';\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch {\n  parsed = {\n    intent: 'faq',\n    rag_search_query: $('Format History').first().json.user_message,\n    kb_type: 'faq',\n    reply_direct: ''\n  };\n}\n\nconst validTypes = ['faq', 'policy', 'product_info', 'troubleshooting', 'internal_guideline'];\nif (!validTypes.includes(parsed.kb_type)) {\n  parsed.kb_type = 'faq';\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    history: $('Format History').first().json.history,\n    user_message: $('Format History').first().json.user_message,\n    conversation_id: $('Format History').first().json.conversation_id,\n    bot_id: $('Format History').first().json.bot_id,\n    user_id: $('Format History').first().json.user_id,\n    user_name: $('Format History').first().json.user_name\n  }\n}];"
            },
            "id": "afd9e71d-0ac8-4d6b-8561-d355ababb59b",
            "name": "Parse Classifier",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1360,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "check-greeting",
                            "leftValue": "={{ $json.intent }}",
                            "rightValue": "greeting",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "ff07913b-8a02-43a0-a28f-1f83bf610330",
            "name": "Greeting or FAQ?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                1580,
                300
            ]
        },
        {
            "parameters": {
                "mode": "insert",
                "messages": {
                    "messageValues": [
                        {
                            "type": "user",
                            "message": "={{ $('Format History').item.json.user_message }}"
                        },
                        {
                            "type": "ai",
                            "message": "={{ $json.reply_direct }}"
                        }
                    ]
                }
            },
            "id": "a2c9242b-7d05-46bc-829a-e3815ef14dc7",
            "name": "Save Greeting",
            "type": "@n8n/n8n-nodes-langchain.memoryManager",
            "typeVersion": 1.1,
            "position": [
                1800,
                140
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Format History').item.json.conversation_id }}"
            },
            "id": "c0ba81e1-8b56-4ca2-8497-0fdf53bd89e7",
            "name": "Memory Save Greeting",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                1800,
                -40
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Parse Classifier').item.json.rag_search_query }}",
                "options": {
                    "systemPromptTemplate": "=[IDENTITAS & GAYA BAHASA]\nAnda adalah Customer Service WhatsApp/Telegram yang ramah, sopan, dan profesional.\n- Sapa pelanggan dengan \"Kak\"\n- Gunakan emoji secukupnya agar tidak kaku\n- Gaya bahasa: singkat, padat, natural seperti chatting WhatsApp\n- Hindari paragraf panjang atau bullet points berlebihan\n\n[ATURAN MENJAWAB]\n1. GUNAKAN KONTEKS: Anda HANYA boleh menjawab berdasarkan informasi di <CONTEXT>\n2. DILARANG MENGARANG: Jika informasi tidak ada di <CONTEXT>, JANGAN pernah mengarang\n3. JAWABAN TIDAK TAHU: Jika info tidak ada, jawab: \"Maaf banget Kak, untuk pertanyaan tersebut belum ada di sistem kami. Ada hal lain yang bisa dibantu? 🙏\"\n4. KONTINUITAS: Perhatikan <RIWAYAT_CHAT> untuk menjaga konteks percakapan\n\n[ATURAN PENGGUNAAN TEMPLATE]\n1. Periksa <MASTER_TEMPLATES>. Jika ada template yang strukturnya cocok dengan niat <PERTANYAAN>, WAJIB gunakan struktur kalimat template tersebut.\n2. JANGAN meng-copy template mentah-mentah. Isilah detail spesifik (harga, nama, jumlah, waktu) menggunakan data nyata dari <CONTEXT>.\n3. Jika TIDAK ada template yang cocok, atau <CONTEXT> kosong, jawab secara natural dan sopan tanpa template.\n\n<MASTER_TEMPLATES>\n{{ $('Prepare Context').item.json.templates_xml }}\n</MASTER_TEMPLATES>\n\n<CONTEXT>\n{context}\n</CONTEXT>\n\n<RIWAYAT_CHAT>\n{{ $('Format History').item.json.history }}\n</RIWAYAT_CHAT>\n\n<PERTANYAAN>\n{{ $('Format History').item.json.user_message }}\n</PERTANYAAN>"
                }
            },
            "id": "249e0545-eec6-4521-941d-6865498a5e45",
            "name": "RAG QA Chain",
            "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
            "typeVersion": 1.7,
            "position": [
                1800,
                440
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "model": "amazon.nova-pro-v1:0",
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "39a17621-5556-4e3f-9890-a836d7cf9999",
            "name": "Nova Pro (QA)",
            "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
            "typeVersion": 1.1,
            "position": [
                1660,
                620
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {},
            "id": "53fe9cbf-5c8f-4600-9aa9-be72e2a8d171",
            "name": "Vector Store Retriever",
            "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
            "typeVersion": 1,
            "position": [
                1800,
                620
            ]
        },
        {
            "parameters": {
                "options": {
                    "metadata": {
                        "metadataValues": [
                            {
                                "name": "bot_id",
                                "value": "={{ $('Parse Classifier').item.json.bot_id }}"
                            },
                            {
                                "name": "kb_type",
                                "value": "={{ $('Parse Classifier').item.json.kb_type }}"
                            }
                        ]
                    }
                }
            },
            "id": "fc047217-5f94-4a3c-aa33-7867c04b96da",
            "name": "PGVector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.3,
            "position": [
                1800,
                780
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "model": "amazon.titan-embed-text-v2:0"
            },
            "id": "b7d3f007-3f26-4248-b234-135ae57905c7",
            "name": "Embeddings AWS Bedrock",
            "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
            "typeVersion": 1,
            "position": [
                1960,
                780
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {
                "mode": "insert",
                "messages": {
                    "messageValues": [
                        {
                            "type": "user",
                            "message": "={{ $('Format History').item.json.user_message }}"
                        },
                        {
                            "type": "ai",
                            "message": "={{ $json.response || $json.text || '' }}"
                        }
                    ]
                }
            },
            "id": "cfc80c33-745e-4cbf-9fb0-4f2cfb98ec81",
            "name": "Save QA Response",
            "type": "@n8n/n8n-nodes-langchain.memoryManager",
            "typeVersion": 1.1,
            "position": [
                2040,
                440
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Format History').item.json.conversation_id }}"
            },
            "id": "97828b47-0c84-4cb3-9756-2b008ea5c358",
            "name": "Memory Save QA",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                2040,
                620
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return items.map((item) => {\n    let content = String(item.json.output || item.json.response || item.json.reply_direct || '');\n\n    // 1) Remove thinking/analysis blocks\n    content = content\n      .replace(/<thinking[\\s\\S]*?<\\/thinking>/gi, '')\n      .replace(/<analysis[\\s\\S]*?<\\/analysis>/gi, '')\n      .replace(/<reasoning[\\s\\S]*?<\\/reasoning>/gi, '');\n\n    // 2) Remove remaining HTML/XML tags\n    content = content.replace(/<\\/?[^>]+>/g, '');\n\n    // 3) Clean excess whitespace\n    content = content.replace(/\\n{3,}/g, '\\n\\n').trim();\n\n    // 4) Fallback if empty\n    if (!content) {\n      content = 'Maaf Kak, saya sedang mengalami kendala teknis. Mohon coba lagi ya 🙏';\n    }\n\n    item.json.content = content;\n    return item;\n});"
            },
            "id": "c83f744c-002e-427c-a87c-48eeb677963f",
            "name": "Clean Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2260,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8080/v1/internal/ai-response",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "=dev-internal-key"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"conversation_id\": \"{{ $('Prepare Context').item.json.conversation_id }}\",\n  \"content\": {{ JSON.stringify($json.content || '') }},\n  \"sender_type\": \"bot\"\n}",
                "options": {}
            },
            "id": "7a6ad06d-0df3-49c1-8fcc-503a350251d4",
            "name": "Send AI Response",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2480,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"ai_responded\": true }",
                "options": {}
            },
            "id": "339659cc-90f1-4d5e-ad78-8bf71f277eef",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2700,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8080/v1/internal/ai-response",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "=dev-internal-key"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"conversation_id\": \"{{ $('Prepare Context').item.json.conversation_id }}\",\n  \"content\": \"Mohon maaf Kak, sistem kami sedang mengalami gangguan teknis. Silakan coba lagi dalam beberapa saat ya 🙏\",\n  \"sender_type\": \"bot\"\n}",
                "options": {}
            },
            "id": "b7fcd0ef-c589-4690-9141-f4578795ac36",
            "name": "Send Error Fallback",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2480,
                620
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": false, \"error\": \"ai_failed\" }",
                "options": {}
            },
            "id": "11cea772-292d-48e4-a158-ff3c826764d7",
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2700,
                620
            ]
        }
    ],
    "connections": {
        "Chat Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Has Content?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Content?": {
            "main": [
                [
                    {
                        "node": "Fetch Bot Config",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Empty",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Bot Config": {
            "main": [
                [
                    {
                        "node": "Fetch Templates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Templates": {
            "main": [
                [
                    {
                        "node": "Prepare Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Context": {
            "main": [
                [
                    {
                        "node": "Load Memory",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Load Memory",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Memory": {
            "main": [
                [
                    {
                        "node": "Format History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format History": {
            "main": [
                [
                    {
                        "node": "Intent Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Nova Micro (Classifier)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Intent Classifier",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Intent Classifier": {
            "main": [
                [
                    {
                        "node": "Parse Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Classifier": {
            "main": [
                [
                    {
                        "node": "Greeting or FAQ?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Greeting or FAQ?": {
            "main": [
                [
                    {
                        "node": "Save Greeting",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "RAG QA Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory Save Greeting": {
            "ai_memory": [
                [
                    {
                        "node": "Save Greeting",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Greeting": {
            "main": [
                [
                    {
                        "node": "Clean Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Nova Pro (QA)": {
            "ai_languageModel": [
                [
                    {
                        "node": "RAG QA Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Vector Store Retriever": {
            "ai_retriever": [
                [
                    {
                        "node": "RAG QA Chain",
                        "type": "ai_retriever",
                        "index": 0
                    }
                ]
            ]
        },
        "PGVector Store": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Vector Store Retriever",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings AWS Bedrock": {
            "ai_embedding": [
                [
                    {
                        "node": "PGVector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "RAG QA Chain": {
            "main": [
                [
                    {
                        "node": "Save QA Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Error Fallback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory Save QA": {
            "ai_memory": [
                [
                    {
                        "node": "Save QA Response",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Save QA Response": {
            "main": [
                [
                    {
                        "node": "Clean Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean Output": {
            "main": [
                [
                    {
                        "node": "Send AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send AI Response": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Error Fallback": {
            "main": [
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": [
        {
            "name": "chat"
        },
        {
            "name": "v2"
        },
        {
            "name": "multi-channel"
        }
    ]
}