apps/api/workflow/engine-responder-v4.json
{
  "name": "Engine Responder V4 — Lean + Resilient",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3000,
        -800
      ],
      "webhookId": "chat-message"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json?.body || {};\n  const ch = body.channel_type;\n  let n = {\n    botId: body.bot_id || null, channel: ch || null,\n    conversationId: body.conversation_id || null,\n    threadId: body.external_thread_id || null,\n    user: { id: null, name: null, username: null },\n    message: { id: null, text: null, type: body.message_type || null, timestamp: null },\n    raw: body.raw || null\n  };\n  if (ch === 'telegram') {\n    n.user.id = body.user?.external_id || body.raw?.message?.from?.id || null;\n    n.user.name = body.user?.name || [body.raw?.message?.from?.first_name, body.raw?.message?.from?.last_name].filter(Boolean).join(' ') || null;\n    n.user.username = body.user?.username || body.raw?.message?.from?.username || null;\n    n.message.id = body.raw?.message?.message_id || null;\n    n.message.text = body.raw?.message?.text || body.text || null;\n    n.message.timestamp = body.raw?.message?.date || null;\n  }\n  if (ch === 'whatsapp') {\n    n.user.id = body.user?.external_id || body.user?.wa_id || body.raw?.message?.from || null;\n    n.user.name = body.user?.name || body.user?.profile?.name || body.raw?.contact?.profile?.name || null;\n    n.message.id = body.wa_message_id || body.raw?.message?.id || null;\n    n.message.text = body.raw?.message?.text?.body || body.text || null;\n    n.message.timestamp = body.raw?.message?.timestamp || null;\n  }\n  return { json: n };\n});"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-txt",
              "leftValue": "={{ $json.message.text }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2600,
        -800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"skipped\": true, \"reason\": \"empty_content\" }",
        "options": {}
      },
      "id": "skip-empty",
      "name": "Skip Empty",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2600,
        -600
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-config/{{ $('Normalize Payload').first().json.botId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-config",
      "name": "Fetch Bot Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2400,
        -800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Normalize Payload').first().json;\nconst config = $('Fetch Bot Config').first().json;\nreturn [{\n  json: {\n    conversation_id: payload.conversationId,\n    bot_id: payload.botId,\n    user_message: payload.message.text,\n    channel_type: payload.channel,\n    user_name: payload.user.name || '',\n    user_id: payload.user.id || payload.conversationId,\n    system_prompt: config.system_prompt || 'You are a helpful customer service assistant.',\n    bot_name: config.name || 'AI Assistant'\n  }\n}];"
      },
      "id": "prepare-ctx",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2200,
        -800
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/chat-history/{{ $('Prepare Context').first().json.conversation_id }}?limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2000,
        -800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough",
        "promptType": "define",
        "text": "={{ $('Prepare Context').first().json.user_message }}",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "WAKTU SAAT INI: {{ $('Fetch History').first().json.time_context }}\n\nKamu adalah Intent Classifier untuk Customer Service. Hanya output satu string. Tanpa penjelasan, tanpa tanda baca tambahan.\n\nFORMAT: fase.intent (titik sebagai pemisah, lowercase)\n\nPILIHAN VALID (pilih SATU yang paling tepat):\nengagement.greeting_new | engagement.greeting_return | engagement.time_inquiry\ndiscovery.program_detail | discovery.schedule_location | discovery.tutor_profile | discovery.curriculum\nevaluation.pricing_inquiry | evaluation.objection_price | evaluation.objection_compare | evaluation.objection_risk | evaluation.objection_authority | evaluation.objection_urgency\nconversion.soft | conversion.transaction | conversion.confirm\nretention.complaint_service | retention.complaint_refund | retention.progress_inquiry | retention.reschedule\n\nRiwayat Chat (terakhir):\n{{ $('Fetch History').first().json.history_text }}\n\nPesan Terakhir:\n{{ $('Prepare Context').first().json.user_message }}"
            }
          ]
        }
      },
      "id": "classifier",
      "name": "Intent Classifier",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1800,
        -800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "amazon.nova-lite-v1:0",
        "options": {
          "temperature": 0
        }
      },
      "id": "nova-lite",
      "name": "Nova Lite (Classifier)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -1400,
        -640
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const forced = $('Fetch History').first().json.contact_status?.forcedIntent || null;\nlet classified = forced;\nif (!forced) {\n  try { classified = ($('Intent Classifier').first().json.text || '').trim().toLowerCase(); } catch(e) { classified = ''; }\n}\nconst valid = [\"engagement.greeting_new\",\"engagement.greeting_return\",\"engagement.time_inquiry\",\"discovery.program_detail\",\"discovery.schedule_location\",\"discovery.tutor_profile\",\"discovery.curriculum\",\"evaluation.pricing_inquiry\",\"evaluation.objection_price\",\"evaluation.objection_compare\",\"evaluation.objection_risk\",\"evaluation.objection_authority\",\"evaluation.objection_urgency\",\"conversion.soft\",\"conversion.transaction\",\"conversion.confirm\",\"retention.complaint_service\",\"retention.complaint_refund\",\"retention.progress_inquiry\",\"retention.reschedule\"];\nconst intent = valid.includes(classified) ? classified : 'discovery.program_detail';\nconst wasForced = !!forced;\nconst templateSubCategory = intent;\nconst useGreetingLlm = wasForced && /^engagement\\.greeting_/.test(intent);\nreturn [{ json: { intent, wasForced, templateSubCategory, useGreetingLlm } }];"
      },
      "id": "merge-intent",
      "name": "Merge Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1400,
        -800
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category={{ $('Merge Intent').first().json.templateSubCategory || $('Merge Intent').first().json.intent || 'discovery.program_detail' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-templates-dynamic",
      "name": "Fetch Templates (By Intent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        -800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Prepare Context').first().json;\nconst intentData = $('Merge Intent').first().json;\nconst hist = $('Fetch History').first().json;\nconst tplPayload = $input.first()?.json || {};\nlet templates = [];\nif (Array.isArray(tplPayload.templates)) templates = tplPayload.templates;\nelse if (Array.isArray(tplPayload.data?.templates)) templates = tplPayload.data.templates;\nelse if (Array.isArray(tplPayload.items)) templates = tplPayload.items;\nlet templates_xml = 'Tidak ada template khusus. Gunakan gaya bahasa natural.';\nif (templates.length > 0) {\n  templates_xml = templates.map(t =>\n    '<TEMPLATE name=\"' + (t.name||'') + '\" intent=\"' + (t.sub_category||t.category||'general') + '\">\\n' + (t.content || '') + '\\n</TEMPLATE>'\n  ).join('\\n\\n');\n}\nreturn [{\n  json: {\n    ...ctx,\n    intent: intentData.intent,\n    wasForced: intentData.wasForced,\n    useGreetingLlm: !!intentData.useGreetingLlm,\n    template_sub_category: intentData.templateSubCategory || intentData.intent,\n    history: hist.history_text || '',\n    time_context: hist.time_context || '',\n    greeting_word: hist.greeting_word || '',\n    prompt_instruction: hist.contact_status?.promptInstruction || '',\n    templates_xml,\n    templates_count: templates.length,\n    template_fetch_error: tplPayload.error || tplPayload.message || null,\n    rag_search_query: ctx.user_message,\n    kb_type: 'faq'\n  }\n}];"
      },
      "id": "build-rag-ctx",
      "name": "Build RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-use-greeting-llm",
              "leftValue": "={{ $json.useGreetingLlm }}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-greeting",
      "name": "Use Greeting LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        -400
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "WAKTU: {{ $json.time_context }}\nINSTRUKSI KONTAK: {{ $json.prompt_instruction }}\n\nKamu adalah Bot CS bernama {{ $json.bot_name }}.\n\nATURAN:\n1. Ganti {nama_pelanggan} dengan \"{{ $json.user_name }}\" (atau \"Kak\" jika kosong)\n2. Ganti {nama_bisnis} dengan \"{{ $json.bot_name }}\"\n3. IKUTI instruksi kontak di atas untuk sapaan yang tepat\n4. JANGAN tambahkan info yang tidak ada di template\n5. LANGSUNG tulis sapaan tanpa penjelasan.\n\nTEMPLATE PANDUAN:\n{{ $json.templates_xml }}\n\nRIWAYAT CHAT:\n{{ $json.history }}"
            }
          ]
        }
      },
      "id": "greeting-llm",
      "name": "Greeting LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1000,
        -600
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "amazon.nova-micro-v1:0",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "nova-micro-greet",
      "name": "Nova Micro (Greeting)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        1000,
        -760
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rag_search_query }}",
        "options": {
          "systemPromptTemplate": "WAKTU: {{ $json.time_context }}\nINSTRUKSI KONTAK: {{ $json.prompt_instruction }}\n\n[IDENTITAS & GAYA BAHASA]\nAnda adalah Customer Service WhatsApp/Telegram yang ramah, sopan, dan profesional.\n- Sapa pelanggan dengan \"Kak\"\n- Gunakan emoji secukupnya\n- Gaya bahasa: singkat, padat, natural seperti chatting WhatsApp\n\n[ATURAN MENJAWAB]\n1. GUNAKAN KONTEKS: HANYA jawab berdasarkan info di <CONTEXT>\n2. DILARANG MENGARANG: Jika info tidak ada, JANGAN mengarang\n3. JAWABAN TIDAK TAHU: \"Maaf banget Kak, untuk pertanyaan tersebut belum ada di sistem kami. Ada hal lain yang bisa dibantu? 🙏\"\n4. KONTINUITAS: Perhatikan <RIWAYAT_CHAT>\n\n[ATURAN TEMPLATE]\n1. Periksa <MASTER_TEMPLATES>. Jika ada yang cocok, gunakan strukturnya.\n2. JANGAN copy mentah. Isi detail spesifik dari <CONTEXT>.\n3. Jika tidak ada template cocok, jawab natural.\n\n<MASTER_TEMPLATES>\n{{ $json.templates_xml }}\n</MASTER_TEMPLATES>\n\n<CONTEXT>\n{context}\n</CONTEXT>\n\n<RIWAYAT_CHAT>\n{{ $json.history }}\n</RIWAYAT_CHAT>\n\n<PERTANYAAN>\n{{ $json.user_message }}\n</PERTANYAAN>"
        }
      },
      "id": "rag-qa",
      "name": "RAG QA Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1000,
        -200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "amazon.nova-micro-v1:0",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "nova-micro-qa",
      "name": "Nova Micro (QA)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        1000,
        -360
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {},
      "id": "vs-retriever",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "bot_id",
                "value": "={{ $('Build RAG Context').first().json.bot_id }}"
              },
              {
                "name": "kb_type",
                "value": "={{ $('Build RAG Context').first().json.kb_type }}"
              }
            ]
          }
        }
      },
      "id": "pgvector",
      "name": "PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "6wWjB3fPyhpR41jn",
          "name": "siedu"
        }
      }
    },
    {
      "parameters": {
        "model": "amazon.titan-embed-text-v2:0"
      },
      "id": "embeddings",
      "name": "Embeddings AWS Bedrock",
      "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let content = String(item.json.output || item.json.response || item.json.text || '');\n  content = content\n    .replace(/<thinking[\\s\\S]*?<\\/thinking>/gi, '')\n    .replace(/<analysis[\\s\\S]*?<\\/analysis>/gi, '')\n    .replace(/<reasoning[\\s\\S]*?<\\/reasoning>/gi, '')\n    .replace(/<\\/?[^>]+>/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n').trim();\n  if (!content) content = 'Maaf Kak, saya sedang mengalami kendala teknis. Mohon coba lagi ya 🙏';\n  item.json.content = content;\n  return item;\n});"
      },
      "id": "clean-output",
      "name": "Clean Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/v1/internal/ai-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Build RAG Context').first().json.conversation_id }}\",\n  \"content\": {{ JSON.stringify($json.content || '') }},\n  \"sender_type\": \"bot\"\n}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"ai_responded\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/v1/internal/ai-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Build RAG Context').first().json.conversation_id }}\",\n  \"content\": \"Mohon maaf Kak, sistem kami sedang mengalami gangguan teknis. Silakan coba lagi dalam beberapa saat ya 🙏\",\n  \"sender_type\": \"bot\"\n}",
        "options": {}
      },
      "id": "send-error",
      "name": "Send Error Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"ai_failed\" }",
        "options": {}
      },
      "id": "respond-err",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        0
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Has Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Content?": {
      "main": [
        [
          {
            "node": "Fetch Bot Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bot Config": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Lite (Classifier)": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Merge Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Intent": {
      "main": [
        [
          {
            "node": "Fetch Templates (By Intent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Context": {
      "main": [
        [
          {
            "node": "Use Greeting LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Micro (Greeting)": {
      "ai_languageModel": [
        [
          {
            "node": "Greeting LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Greeting LLM": {
      "main": [
        [
          {
            "node": "Clean Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Micro (QA)": {
      "ai_languageModel": [
        [
          {
            "node": "RAG QA Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "RAG QA Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings AWS Bedrock": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG QA Chain": {
      "main": [
        [
          {
            "node": "Clean Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Output": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Fallback": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Templates (By Intent)": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Greeting LLM?": {
      "main": [
        [
          {
            "node": "Greeting LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG QA Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "responder"
    },
    {
      "name": "v4"
    },
    {
      "name": "production"
    }
  ]
}
