apps/api/workflow/engine-responder-v3.json
{
  "name": "Engine Responder V3 — Clean",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3000,
        -800
      ],
      "webhookId": "chat-message"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json?.body || {};\n  const ch = body.channel_type;\n  let n = {\n    botId: body.bot_id || null, channel: ch || null,\n    conversationId: body.conversation_id || null,\n    threadId: body.external_thread_id || null,\n    user: { id: null, name: null, username: null },\n    message: { id: null, text: null, type: body.message_type || null, timestamp: null },\n    raw: body.raw || null\n  };\n  if (ch === 'telegram') {\n    n.user.id = body.user?.external_id || body.raw?.message?.from?.id || null;\n    n.user.name = body.user?.name || [body.raw?.message?.from?.first_name, body.raw?.message?.from?.last_name].filter(Boolean).join(' ') || null;\n    n.user.username = body.user?.username || body.raw?.message?.from?.username || null;\n    n.message.id = body.raw?.message?.message_id || null;\n    n.message.text = body.raw?.message?.text || body.text || null;\n    n.message.timestamp = body.raw?.message?.date || null;\n  }\n  if (ch === 'whatsapp') {\n    n.user.id = body.user?.external_id || body.user?.wa_id || body.raw?.message?.from || null;\n    n.user.name = body.user?.name || body.user?.profile?.name || body.raw?.contact?.profile?.name || null;\n    n.message.id = body.wa_message_id || body.raw?.message?.id || null;\n    n.message.text = body.raw?.message?.text?.body || body.text || null;\n    n.message.timestamp = body.raw?.message?.timestamp || null;\n  }\n  return { json: n };\n});"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-txt",
              "leftValue": "={{ $json.message.text }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2600,
        -800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"skipped\": true, \"reason\": \"empty_content\" }",
        "options": {}
      },
      "id": "skip-empty",
      "name": "Skip Empty",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2600,
        -600
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-config/{{ $('Normalize Payload').first().json.botId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-config",
      "name": "Fetch Bot Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2400,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Normalize Payload').first().json;\nconst config = $('Fetch Bot Config').first().json;\nreturn [{\n  json: {\n    conversation_id: payload.conversationId,\n    bot_id: payload.botId,\n    user_message: payload.message.text,\n    channel_type: payload.channel,\n    user_name: payload.user.name || '',\n    user_id: payload.user.id || payload.conversationId,\n    system_prompt: config.system_prompt || 'You are a helpful customer service assistant.',\n    bot_name: config.name || 'AI Assistant'\n  }\n}];"
      },
      "id": "prepare-ctx",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2200,
        -800
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/chat-history/{{ $('Prepare Context').first().json.conversation_id }}?limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2000,
        -800
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough",
        "promptType": "define",
        "text": "={{ $('Prepare Context').first().json.user_message }}",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "WAKTU SAAT INI: {{ $('Fetch History').first().json.time_context }}\n\nKamu adalah Intent Classifier untuk Customer Service. Hanya output satu string. Tanpa penjelasan, tanpa tanda baca tambahan.\n\nFORMAT: fase.intent (titik sebagai pemisah, lowercase)\n\nPILIHAN VALID (pilih SATU yang paling tepat):\nengagement.greeting_new | engagement.greeting_return | engagement.time_inquiry\ndiscovery.program_detail | discovery.schedule_location | discovery.tutor_profile | discovery.curriculum\nevaluation.pricing_inquiry | evaluation.objection_price | evaluation.objection_compare | evaluation.objection_risk | evaluation.objection_authority | evaluation.objection_urgency\nconversion.soft | conversion.transaction | conversion.confirm\nretention.complaint_service | retention.complaint_refund | retention.progress_inquiry | retention.reschedule\n\nRiwayat Chat (terakhir):\n{{ $('Fetch History').first().json.history_text }}\n\nPesan Terakhir:\n{{ $('Prepare Context').first().json.user_message }}"
            }
          ]
        }
      },
      "id": "classifier",
      "name": "Intent Classifier",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1800,
        -800
      ]
    },
    {
      "parameters": {
        "model": "amazon.nova-lite-v1:0",
        "options": {
          "temperature": 0
        }
      },
      "id": "nova-lite",
      "name": "Nova Lite (Classifier)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -1400,
        -640
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const forced = $('Fetch History').first().json.contact_status?.forcedIntent || null;\nlet classified = forced;\nif (!forced) {\n  try { classified = ($('Intent Classifier').first().json.text || '').trim().toLowerCase(); } catch(e) { classified = ''; }\n}\nconst valid = [\"engagement.greeting_new\",\"engagement.greeting_return\",\"engagement.time_inquiry\",\"discovery.program_detail\",\"discovery.schedule_location\",\"discovery.tutor_profile\",\"discovery.curriculum\",\"evaluation.pricing_inquiry\",\"evaluation.objection_price\",\"evaluation.objection_compare\",\"evaluation.objection_risk\",\"evaluation.objection_authority\",\"evaluation.objection_urgency\",\"conversion.soft\",\"conversion.transaction\",\"conversion.confirm\",\"retention.complaint_service\",\"retention.complaint_refund\",\"retention.progress_inquiry\",\"retention.reschedule\"];\nconst intent = valid.includes(classified) ? classified : 'discovery.program_detail';\nreturn [{ json: { intent, wasForced: !!forced } }];"
      },
      "id": "merge-intent",
      "name": "Merge Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1400,
        -800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "engagement.greeting_new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-engagement-greeting_new"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "engagement.greeting_new"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "engagement.greeting_return",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-engagement-greeting_return"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "engagement.greeting_return"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "engagement.time_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-engagement-time_inquiry"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "engagement.time_inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "discovery.program_detail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-discovery-program_detail"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discovery.program_detail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "discovery.schedule_location",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-discovery-schedule_location"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discovery.schedule_location"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "discovery.tutor_profile",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-discovery-tutor_profile"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discovery.tutor_profile"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "discovery.curriculum",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-discovery-curriculum"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discovery.curriculum"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "evaluation.pricing_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-evaluation-pricing_inquiry"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation.pricing_inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "evaluation.objection_price",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-evaluation-objection_price"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation.objection_price"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "evaluation.objection_compare",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-evaluation-objection_compare"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation.objection_compare"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "evaluation.objection_risk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-evaluation-objection_risk"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation.objection_risk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "evaluation.objection_authority",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-evaluation-objection_authority"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation.objection_authority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "evaluation.objection_urgency",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-evaluation-objection_urgency"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "evaluation.objection_urgency"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "conversion.soft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-conversion-soft"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversion.soft"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "conversion.transaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-conversion-transaction"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversion.transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "conversion.confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-conversion-confirm"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversion.confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "retention.complaint_service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-retention-complaint_service"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retention.complaint_service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "retention.complaint_refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-retention-complaint_refund"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retention.complaint_refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "retention.progress_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-retention-progress_inquiry"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retention.progress_inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "retention.reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-retention-reschedule"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retention.reschedule"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "looseTypeValidation": true
        }
      },
      "id": "route-intent",
      "name": "Route Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1000,
        -800
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=engagement.greeting_new",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-engagement-greeting_new",
      "name": "Tpl: engagement.greeting_new",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -500
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=engagement.greeting_return",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-engagement-greeting_return",
      "name": "Tpl: engagement.greeting_return",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -500
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=engagement.time_inquiry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-engagement-time_inquiry",
      "name": "Tpl: engagement.time_inquiry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -500
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=discovery.program_detail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-discovery-program_detail",
      "name": "Tpl: discovery.program_detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -500
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=discovery.schedule_location",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-discovery-schedule_location",
      "name": "Tpl: discovery.schedule_location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -500
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=discovery.tutor_profile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-discovery-tutor_profile",
      "name": "Tpl: discovery.tutor_profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -350
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=discovery.curriculum",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-discovery-curriculum",
      "name": "Tpl: discovery.curriculum",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -350
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=evaluation.pricing_inquiry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-evaluation-pricing_inquiry",
      "name": "Tpl: evaluation.pricing_inquiry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -350
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=evaluation.objection_price",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-evaluation-objection_price",
      "name": "Tpl: evaluation.objection_price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -350
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=evaluation.objection_compare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-evaluation-objection_compare",
      "name": "Tpl: evaluation.objection_compare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -350
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=evaluation.objection_risk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-evaluation-objection_risk",
      "name": "Tpl: evaluation.objection_risk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -200
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=evaluation.objection_authority",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-evaluation-objection_authority",
      "name": "Tpl: evaluation.objection_authority",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -200
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=evaluation.objection_urgency",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-evaluation-objection_urgency",
      "name": "Tpl: evaluation.objection_urgency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -200
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=conversion.soft",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-conversion-soft",
      "name": "Tpl: conversion.soft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -200
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=conversion.transaction",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-conversion-transaction",
      "name": "Tpl: conversion.transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -200
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=conversion.confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-conversion-confirm",
      "name": "Tpl: conversion.confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -50
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=retention.complaint_service",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-retention-complaint_service",
      "name": "Tpl: retention.complaint_service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -50
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=retention.complaint_refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-retention-complaint_refund",
      "name": "Tpl: retention.complaint_refund",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -50
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=retention.progress_inquiry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-retention-progress_inquiry",
      "name": "Tpl: retention.progress_inquiry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -50
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/bot-templates/{{ $('Prepare Context').first().json.bot_id }}?sub_category=retention.reschedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tpl-retention-reschedule",
      "name": "Tpl: retention.reschedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Prepare Context').first().json;\nconst intentData = $('Merge Intent').first().json;\nconst hist = $('Fetch History').first().json;\nlet templates = [];\ntry { templates = $input.first().json?.templates || []; } catch(e) {}\nlet templates_xml = 'Tidak ada template khusus. Gunakan gaya bahasa natural.';\nif (templates.length > 0) {\n  templates_xml = templates.map(t =>\n    '<TEMPLATE name=\"' + (t.name||'') + '\" intent=\"' + (t.sub_category||t.category||'general') + '\">\\n' + t.content + '\\n</TEMPLATE>'\n  ).join('\\n\\n');\n}\nreturn [{\n  json: {\n    ...ctx, intent: intentData.intent, wasForced: intentData.wasForced,\n    history: hist.history_text || '', time_context: hist.time_context || '',\n    greeting_word: hist.greeting_word || '',\n    prompt_instruction: hist.contact_status?.promptInstruction || '',\n    templates_xml, templates_count: templates.length,\n    rag_search_query: ctx.user_message, kb_type: 'faq'\n  }\n}];"
      },
      "id": "build-rag-ctx",
      "name": "Build RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-forced",
              "leftValue": "={{ $json.wasForced }}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-greeting",
      "name": "Is Forced Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        -400
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "messages": {
          "messageValues": [
            {
              "type": "system",
              "message": "WAKTU: {{ $json.time_context }}\nINSTRUKSI KONTAK: {{ $json.prompt_instruction }}\n\nKamu adalah Bot CS bernama {{ $json.bot_name }}.\n\nATURAN:\n1. Ganti {nama_pelanggan} dengan \"{{ $json.user_name }}\" (atau \"Kak\" jika kosong)\n2. Ganti {nama_bisnis} dengan \"{{ $json.bot_name }}\"\n3. IKUTI instruksi kontak di atas untuk sapaan yang tepat\n4. JANGAN tambahkan info yang tidak ada di template\n5. LANGSUNG tulis sapaan tanpa penjelasan.\n\nTEMPLATE PANDUAN:\n{{ $json.templates_xml }}\n\nRIWAYAT CHAT:\n{{ $json.history }}"
            }
          ]
        }
      },
      "id": "greeting-llm",
      "name": "Greeting LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1000,
        -600
      ]
    },
    {
      "parameters": {
        "model": "amazon.nova-micro-v1:0",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "nova-micro-greet",
      "name": "Nova Micro (Greeting)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        1000,
        -760
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rag_search_query }}",
        "options": {
          "systemPromptTemplate": "WAKTU: {{ $json.time_context }}\nINSTRUKSI KONTAK: {{ $json.prompt_instruction }}\n\n[IDENTITAS & GAYA BAHASA]\nAnda adalah Customer Service WhatsApp/Telegram yang ramah, sopan, dan profesional.\n- Sapa pelanggan dengan \"Kak\"\n- Gunakan emoji secukupnya\n- Gaya bahasa: singkat, padat, natural seperti chatting WhatsApp\n\n[ATURAN MENJAWAB]\n1. GUNAKAN KONTEKS: HANYA jawab berdasarkan info di <CONTEXT>\n2. DILARANG MENGARANG: Jika info tidak ada, JANGAN mengarang\n3. JAWABAN TIDAK TAHU: \"Maaf banget Kak, untuk pertanyaan tersebut belum ada di sistem kami. Ada hal lain yang bisa dibantu? 🙏\"\n4. KONTINUITAS: Perhatikan <RIWAYAT_CHAT>\n\n[ATURAN TEMPLATE]\n1. Periksa <MASTER_TEMPLATES>. Jika ada yang cocok, gunakan strukturnya.\n2. JANGAN copy mentah. Isi detail spesifik dari <CONTEXT>.\n3. Jika tidak ada template cocok, jawab natural.\n\n<MASTER_TEMPLATES>\n{{ $json.templates_xml }}\n</MASTER_TEMPLATES>\n\n<CONTEXT>\n{context}\n</CONTEXT>\n\n<RIWAYAT_CHAT>\n{{ $json.history }}\n</RIWAYAT_CHAT>\n\n<PERTANYAAN>\n{{ $json.user_message }}\n</PERTANYAAN>"
        }
      },
      "id": "rag-qa",
      "name": "RAG QA Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1000,
        -200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "amazon.nova-micro-v1:0",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "nova-micro-qa",
      "name": "Nova Micro (QA)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        1000,
        -360
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {},
      "id": "vs-retriever",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "bot_id",
                "value": "={{ $('Build RAG Context').first().json.bot_id }}"
              },
              {
                "name": "kb_type",
                "value": "={{ $('Build RAG Context').first().json.kb_type }}"
              }
            ]
          }
        }
      },
      "id": "pgvector",
      "name": "PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "6wWjB3fPyhpR41jn",
          "name": "siedu"
        }
      }
    },
    {
      "parameters": {
        "model": "amazon.titan-embed-text-v2:0"
      },
      "id": "embeddings",
      "name": "Embeddings AWS Bedrock",
      "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let content = String(item.json.output || item.json.response || item.json.text || '');\n  content = content\n    .replace(/<thinking[\\s\\S]*?<\\/thinking>/gi, '')\n    .replace(/<analysis[\\s\\S]*?<\\/analysis>/gi, '')\n    .replace(/<reasoning[\\s\\S]*?<\\/reasoning>/gi, '')\n    .replace(/<\\/?[^>]+>/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n').trim();\n  if (!content) content = 'Maaf Kak, saya sedang mengalami kendala teknis. Mohon coba lagi ya 🙏';\n  item.json.content = content;\n  return item;\n});"
      },
      "id": "clean-output",
      "name": "Clean Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/v1/internal/ai-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Build RAG Context').first().json.conversation_id }}\",\n  \"content\": {{ JSON.stringify($json.content || '') }},\n  \"sender_type\": \"bot\"\n}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"ai_responded\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/v1/internal/ai-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Build RAG Context').first().json.conversation_id }}\",\n  \"content\": \"Mohon maaf Kak, sistem kami sedang mengalami gangguan teknis. Silakan coba lagi dalam beberapa saat ya 🙏\",\n  \"sender_type\": \"bot\"\n}",
        "options": {}
      },
      "id": "send-error",
      "name": "Send Error Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"ai_failed\" }",
        "options": {}
      },
      "id": "respond-err",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        0
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Has Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Content?": {
      "main": [
        [
          {
            "node": "Fetch Bot Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bot Config": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Lite (Classifier)": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Merge Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Intent": {
      "main": [
        [
          {
            "node": "Route Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Intent": {
      "main": [
        [
          {
            "node": "Tpl: engagement.greeting_new",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: engagement.greeting_return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: engagement.time_inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: discovery.program_detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: discovery.schedule_location",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: discovery.tutor_profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: discovery.curriculum",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: evaluation.pricing_inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: evaluation.objection_price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: evaluation.objection_compare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: evaluation.objection_risk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: evaluation.objection_authority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: evaluation.objection_urgency",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: conversion.soft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: conversion.transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: conversion.confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: retention.complaint_service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: retention.complaint_refund",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: retention.progress_inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tpl: retention.reschedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: engagement.greeting_new": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: engagement.greeting_return": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: engagement.time_inquiry": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: discovery.program_detail": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: discovery.schedule_location": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: discovery.tutor_profile": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: discovery.curriculum": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: evaluation.pricing_inquiry": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: evaluation.objection_price": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: evaluation.objection_compare": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: evaluation.objection_risk": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: evaluation.objection_authority": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: evaluation.objection_urgency": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: conversion.soft": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: conversion.transaction": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: conversion.confirm": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: retention.complaint_service": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: retention.complaint_refund": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: retention.progress_inquiry": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tpl: retention.reschedule": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Context": {
      "main": [
        [
          {
            "node": "Is Forced Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Forced Greeting?": {
      "main": [
        [
          {
            "node": "Greeting LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG QA Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Micro (Greeting)": {
      "ai_languageModel": [
        [
          {
            "node": "Greeting LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Greeting LLM": {
      "main": [
        [
          {
            "node": "Clean Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Micro (QA)": {
      "ai_languageModel": [
        [
          {
            "node": "RAG QA Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "RAG QA Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings AWS Bedrock": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG QA Chain": {
      "main": [
        [
          {
            "node": "Clean Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Output": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Fallback": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "responder"
    },
    {
      "name": "v3"
    },
    {
      "name": "production"
    }
  ]
}