apps/api/workflow/telegram-responder-optimized.json
{
    "name": "Telegram Responder — Optimized",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                -800,
                300
            ],
            "webhookId": "5afb0371-c7e8-4e5d-9c26-99f08ccb4ca0",
            "credentials": {
                "telegramApi": {
                    "id": "vGtuxyAnUYcxsAXe",
                    "name": "AURA"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "load-memory",
            "name": "Load Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryManager",
            "typeVersion": 1.1,
            "position": [
                -600,
                300
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            "id": "chat-memory-load",
            "name": "Chat Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                -600,
                520
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json;\nconst messages = raw.messages || [];\nconst lines = [];\n\nfor (const m of messages) {\n  if (m.human) lines.push(`User: ${m.human}`);\n  if (m.ai) lines.push(`Assistant: ${m.ai}`);\n}\n\nreturn [{\n  json: {\n    history: lines.join('\\n'),\n    user_message: $('Telegram Trigger').first().json.message.text || '',\n    chat_id: $('Telegram Trigger').first().json.message.chat.id,\n    user_id: $('Telegram Trigger').first().json.message.from.id,\n    user_name: $('Telegram Trigger').first().json.message.from.first_name || ''\n  }\n}];"
            },
            "id": "format-history",
            "name": "Format History",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -380,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Identitas: Anda adalah ENGINE CLASSIFIER (JSON ONLY).\nTugas: Analisis <pesan_saat_ini> dan hasilkan output JSON.\n\n=== ATURAN KLASIFIKASI ===\n\nKONDISI 1: INTENT \"faq\" (PRIORITAS UTAMA)\n- Kriteria: Pesan berisi pertanyaan, permintaan info, instruksi, atau keluhan (termasuk jika diawali sapaan).\n- intent: \"faq\"\n- reply_direct: \"\"\n- rag_search_query: Lakukan Anaphora Resolution menggunakan <riwayat> untuk melengkapi subjek yang hilang. Ekstrak keyword murni.\n- kb_type: Klasifikasikan ke salah satu: \"faq\", \"policy\", \"product_info\", \"troubleshooting\", \"internal_guideline\"\n  * \"faq\" → pertanyaan umum (jam buka, lokasi, cara bayar)\n  * \"policy\" → garansi, retur, refund, syarat & ketentuan\n  * \"product_info\" → harga, spesifikasi, stok, varian produk\n  * \"troubleshooting\" → error, masalah teknis, kendala pesanan\n  * \"internal_guideline\" → (jarang dari user, default ke faq jika ragu)\n\nKONDISI 2: INTENT \"greeting\"\n- Kriteria: MURNI sapaan atau penutup (Halo, Pagi, Kak, Sampai jumpa).\n- intent: \"greeting\"\n- reply_direct: Buat sapaan personal. Jika ada nama di <riwayat>, sebut namanya. Jika ada topik terakhir, singgung singkat. Gunakan gaya ramah WhatsApp dengan emoji.\n- rag_search_query: \"\"\n- kb_type: \"\"\n\n<riwayat>\n{{ $json.history }}\n</riwayat>\n\n<pesan_saat_ini>\n{{ $json.user_message }}\n</pesan_saat_ini>\n\nJSON OUTPUT (HANYA JSON, tanpa markdown):",
                "batching": {}
            },
            "id": "classifier",
            "name": "Intent Classifier",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.9,
            "position": [
                -140,
                300
            ]
        },
        {
            "parameters": {
                "model": "amazon.nova-micro-v1:0",
                "options": {
                    "temperature": 0
                }
            },
            "id": "llm-micro",
            "name": "Nova Micro (Classifier)",
            "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
            "typeVersion": 1.1,
            "position": [
                -140,
                520
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json.text || $input.first().json.response?.text || '';\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch {\n  parsed = {\n    intent: 'faq',\n    rag_search_query: $('Format History').first().json.user_message,\n    kb_type: 'faq',\n    reply_direct: ''\n  };\n}\n\n// Validate kb_type\nconst validTypes = ['faq', 'policy', 'product_info', 'troubleshooting', 'internal_guideline'];\nif (!validTypes.includes(parsed.kb_type)) {\n  parsed.kb_type = 'faq';\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    history: $('Format History').first().json.history,\n    user_message: $('Format History').first().json.user_message,\n    chat_id: $('Format History').first().json.chat_id,\n    user_id: $('Format History').first().json.user_id,\n    user_name: $('Format History').first().json.user_name\n  }\n}];"
            },
            "id": "parse-classifier",
            "name": "Parse Classifier",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                80,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "check-greeting",
                            "leftValue": "={{ $json.intent }}",
                            "rightValue": "greeting",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "route-intent",
            "name": "Greeting or FAQ?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "mode": "insert",
                "messages": {
                    "messageValues": [
                        {
                            "type": "user",
                            "message": "={{ $('Format History').item.json.user_message }}"
                        },
                        {
                            "type": "ai",
                            "message": "={{ $json.reply_direct }}"
                        }
                    ]
                }
            },
            "id": "save-greeting",
            "name": "Save Greeting",
            "type": "@n8n/n8n-nodes-langchain.memoryManager",
            "typeVersion": 1.1,
            "position": [
                540,
                140
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Format History').item.json.user_id }}"
            },
            "id": "chat-memory-save-greeting",
            "name": "Memory Save Greeting",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                540,
                -40
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Format History').item.json.chat_id }}",
                "text": "={{ $('Parse Classifier').item.json.reply_direct }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "id": "send-greeting",
            "name": "Send Greeting",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                780,
                140
            ],
            "credentials": {
                "telegramApi": {
                    "id": "vGtuxyAnUYcxsAXe",
                    "name": "AURA"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Parse Classifier').item.json.rag_search_query }}",
                "options": {
                    "systemPromptTemplate": "=[IDENTITAS & GAYA BAHASA]\nAnda adalah Customer Service WhatsApp yang ramah, sopan, dan profesional.\n- Sapa pelanggan dengan \"Kak\"\n- Gunakan emoji secukupnya agar tidak kaku\n- Gaya bahasa: singkat, padat, natural seperti chatting WhatsApp\n- Hindari paragraf panjang atau bullet points berlebihan\n\n[ATURAN MENJAWAB]\n1. GUNAKAN KONTEKS: Anda HANYA boleh menjawab berdasarkan informasi di [CONTEXT]\n2. DILARANG MENGARANG: Jika informasi tidak ada di [CONTEXT], JANGAN pernah mengarang\n3. JAWABAN TIDAK TAHU: Jika info tidak ada, jawab: \"Maaf banget Kak, untuk pertanyaan tersebut belum ada di sistem kami. Ada hal lain yang bisa dibantu? 🙏\"\n4. KONTINUITAS: Perhatikan [RIWAYAT CHAT] untuk menjaga konteks percakapan\n\n[CONTEXT]\n{context}\n\n[RIWAYAT CHAT]\n{{ $('Format History').item.json.history }}\n\n[PERTANYAAN]\n{{ $('Format History').item.json.user_message }}"
                }
            },
            "id": "qa-chain",
            "name": "RAG QA Chain",
            "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
            "typeVersion": 1.7,
            "position": [
                540,
                440
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "model": "amazon.nova-pro-v1:0",
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "llm-pro",
            "name": "Nova Pro (QA)",
            "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
            "typeVersion": 1.1,
            "position": [
                400,
                660
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {},
            "id": "retriever",
            "name": "Vector Store Retriever",
            "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
            "typeVersion": 1,
            "position": [
                540,
                660
            ]
        },
        {
            "parameters": {
                "options": {
                    "metadata": {
                        "metadataValues": [
                            {
                                "name": "kb_type",
                                "value": "={{ $('Parse Classifier').item.json.kb_type }}"
                            }
                        ]
                    }
                }
            },
            "id": "pgvector-retrieve",
            "name": "PGVector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.3,
            "position": [
                540,
                820
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "model": "amazon.titan-embed-text-v2:0"
            },
            "id": "embeddings-retrieve",
            "name": "Embeddings AWS Bedrock",
            "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
            "typeVersion": 1,
            "position": [
                680,
                820
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {
                "mode": "insert",
                "messages": {
                    "messageValues": [
                        {
                            "type": "user",
                            "message": "={{ $('Format History').item.json.user_message }}"
                        },
                        {
                            "type": "ai",
                            "message": "={{ $json.response || $json.text || '' }}"
                        }
                    ]
                }
            },
            "id": "save-qa",
            "name": "Save QA Response",
            "type": "@n8n/n8n-nodes-langchain.memoryManager",
            "typeVersion": 1.1,
            "position": [
                780,
                440
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Format History').item.json.user_id }}"
            },
            "id": "chat-memory-save-qa",
            "name": "Memory Save QA",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                780,
                620
            ],
            "credentials": {
                "postgres": {
                    "id": "6wWjB3fPyhpR41jn",
                    "name": "siedu"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Format History').item.json.chat_id }}",
                "text": "={{ $json.response || $json.text || 'Maaf Kak, terjadi gangguan. Coba lagi ya 🙏' }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "id": "send-qa",
            "name": "Send QA Response",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1020,
                440
            ],
            "credentials": {
                "telegramApi": {
                    "id": "vGtuxyAnUYcxsAXe",
                    "name": "AURA"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Format History').item.json.chat_id }}",
                "text": "Maaf banget Kak, sistem kami sedang ada gangguan teknis. Coba lagi dalam beberapa saat ya 🙏",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "id": "send-error",
            "name": "Send Error Fallback",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                780,
                700
            ],
            "credentials": {
                "telegramApi": {
                    "id": "vGtuxyAnUYcxsAXe",
                    "name": "AURA"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Load Memory",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Load Memory",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Memory": {
            "main": [
                [
                    {
                        "node": "Format History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format History": {
            "main": [
                [
                    {
                        "node": "Intent Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Nova Micro (Classifier)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Intent Classifier",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Intent Classifier": {
            "main": [
                [
                    {
                        "node": "Parse Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Classifier": {
            "main": [
                [
                    {
                        "node": "Greeting or FAQ?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Greeting or FAQ?": {
            "main": [
                [
                    {
                        "node": "Save Greeting",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "RAG QA Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory Save Greeting": {
            "ai_memory": [
                [
                    {
                        "node": "Save Greeting",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Greeting": {
            "main": [
                [
                    {
                        "node": "Send Greeting",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Nova Pro (QA)": {
            "ai_languageModel": [
                [
                    {
                        "node": "RAG QA Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Vector Store Retriever": {
            "ai_retriever": [
                [
                    {
                        "node": "RAG QA Chain",
                        "type": "ai_retriever",
                        "index": 0
                    }
                ]
            ]
        },
        "PGVector Store": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Vector Store Retriever",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings AWS Bedrock": {
            "ai_embedding": [
                [
                    {
                        "node": "PGVector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "RAG QA Chain": {
            "main": [
                [
                    {
                        "node": "Save QA Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Error Fallback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory Save QA": {
            "ai_memory": [
                [
                    {
                        "node": "Save QA Response",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Save QA Response": {
            "main": [
                [
                    {
                        "node": "Send QA Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": [
        {
            "name": "chat"
        },
        {
            "name": "telegram"
        },
        {
            "name": "optimized"
        }
    ]
}