apps/api/workflow/template-generator.json
{
    "name": "Template Generator V3 — Agnostic",
    "nodes": [
        {
            "parameters": {
                "formTitle": "Template Generator V3 — Agnostic",
                "formDescription": "Generate 60-80 template CS universal (agnostic). Template bisa dipakai untuk semua jenis bisnis jasa.",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Gaya Bahasa",
                            "fieldType": "dropdown",
                            "requiredField": true,
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "casual-whatsapp (santai, pakai emoji, singkatan)"
                                    },
                                    {
                                        "option": "friendly-formal (ramah tapi sopan, tanpa singkatan)"
                                    },
                                    {
                                        "option": "formal-profesional (serius, tanpa emoji, baku)"
                                    }
                                ]
                            }
                        },
                        {
                            "fieldLabel": "Bot ID",
                            "fieldType": "text",
                            "requiredField": false,
                            "placeholder": "Opsional: UUID bot untuk langsung import ke DB nanti"
                        }
                    ]
                },
                "options": {
                    "respondWithData": false
                }
            },
            "id": "form-trigger",
            "name": "Input Gaya Bahasa",
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.5,
            "position": [
                -400,
                300
            ],
            "webhookId": "template-generator-v3"
        },
        {
            "parameters": {
                "jsCode": "const form = $input.first().json;\nconst gaya = form['Gaya Bahasa'];\nconst botId = form['Bot ID'] || null;\n\nconst intents = [\n  { category: 'engagement', intent: 'engagement.greeting_new', count: 3,\n    desc: 'Sapaan hangat untuk kontak BARU yang pertama kali mengirim pesan. Bangun kesan pertama positif dan ajak pelanggan menyampaikan kebutuhannya.' },\n  { category: 'engagement', intent: 'engagement.greeting_return', count: 3,\n    desc: 'Sapaan untuk pelanggan LAMA yang kembali chat setelah lama tidak aktif (>24 jam). Tunjukkan bahwa kita ingat dan senang mereka kembali.' },\n  { category: 'engagement', intent: 'engagement.time_inquiry', count: 3,\n    desc: 'Menjawab pertanyaan tentang jam operasional, ketersediaan slot, atau kapan bisa konsultasi.' },\n  { category: 'discovery', intent: 'discovery.program_detail', count: 4,\n    desc: 'Menjelaskan gambaran umum program/jasa yang ditawarkan. Fokus pada overview, bukan detail teknis.' },\n  { category: 'discovery', intent: 'discovery.schedule_location', count: 3,\n    desc: 'Memberikan informasi jadwal, lokasi fisik, atau cara akses layanan (online/offline).' },\n  { category: 'discovery', intent: 'discovery.tutor_profile', count: 3,\n    desc: 'Menjawab pertanyaan tentang tim/tenaga ahli/pengajar. Fokus pada kredibilitas dan pengalaman.' },\n  { category: 'discovery', intent: 'discovery.curriculum', count: 3,\n    desc: 'Menjelaskan kurikulum, materi, metode kerja, atau tahapan layanan yang diberikan.' },\n  { category: 'evaluation', intent: 'evaluation.pricing_inquiry', count: 4,\n    desc: 'Menyampaikan informasi harga/biaya/paket secara informatif. Belum ada keberatan, murni tanya harga.' },\n  { category: 'evaluation', intent: 'evaluation.objection_price', count: 4,\n    desc: 'Menangani keberatan HARGA MAHAL. Pelanggan bilang \"kok mahal\" atau \"di tempat lain lebih murah\". Fokus pada value & benefit.' },\n  { category: 'evaluation', intent: 'evaluation.objection_compare', count: 3,\n    desc: 'Menangani perbandingan LANGSUNG dengan kompetitor. Pelanggan menyebut nama pesaing. Fokus pada diferensiasi tanpa menjatuhkan.' },\n  { category: 'evaluation', intent: 'evaluation.objection_risk', count: 4,\n    desc: 'Menangani ketakutan RESIKO. Pelanggan bilang \"kalau gak cocok gimana\" atau \"takut rugi\". Fokus pada garansi dan risk reversal.' },\n  { category: 'evaluation', intent: 'evaluation.objection_authority', count: 3,\n    desc: 'Menangani keraguan KREDIBILITAS. Pelanggan tanya \"berpengalaman gak?\" atau \"sudah berapa klien?\". Fokus pada social proof.' },\n  { category: 'evaluation', intent: 'evaluation.objection_urgency', count: 3,\n    desc: 'Mendorong pelanggan yang bilang \"nanti aja\" atau \"pikir-pikir dulu\". Fokus pada scarcity dan FOMO tanpa tekanan berlebih.' },\n  { category: 'conversion', intent: 'conversion.soft', count: 3,\n    desc: 'Ajakan lembut (soft CTA) untuk pelanggan yang sudah tertarik tapi belum memutuskan. Tidak agresif.' },\n  { category: 'conversion', intent: 'conversion.transaction', count: 3,\n    desc: 'Memberikan instruksi pendaftaran/pembayaran yang jelas dan mudah diikuti (low friction).' },\n  { category: 'conversion', intent: 'conversion.confirm', count: 3,\n    desc: 'Mengkonfirmasi penerimaan bukti bayar/pendaftaran. Berikan rasa aman dan langkah selanjutnya.' },\n  { category: 'retention', intent: 'retention.complaint_service', count: 4,\n    desc: 'Merespons keluhan layanan (kelas kurang bagus, jadwal berubah, dll). Tunjukkan empati tinggi dan solusi konkret.' },\n  { category: 'retention', intent: 'retention.complaint_refund', count: 3,\n    desc: 'Menangani permintaan refund/pengembalian uang. Empati + prosedur yang jelas + upaya retaining.' },\n  { category: 'retention', intent: 'retention.progress_inquiry', count: 3,\n    desc: 'Menjawab pertanyaan tentang perkembangan/progres layanan yang sedang berjalan.' },\n  { category: 'retention', intent: 'retention.reschedule', count: 3,\n    desc: 'Membantu pelanggan mengubah jadwal, pindah kelas, atau reschedule sesi.' }\n];\n\nreturn intents.map(i => ({\n  json: { ...i, gaya, botId }\n}));"
            },
            "id": "set-intents",
            "name": "Set 20 Intents",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -140,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop",
            "name": "Loop Intents",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\n\nconst systemPrompt = `Kamu adalah Master Copywriter yang menulis template pesan untuk BOT Customer Service.\n\nPERAN PENTING: Template yang kamu tulis adalah pesan yang akan DIKIRIM OLEH BOT CS KEPADA PELANGGAN.\nKamu BUKAN pelanggan. Kamu MENULIS pesan dari sudut pandang CS/Admin yang MENJAWAB pertanyaan pelanggan.\n\nTUGAS: Buat ${item.count} variasi template BALASAN BOT CS untuk intent: \"${item.intent}\".\nDeskripsi situasi: ${item.desc}\nGaya Bahasa: ${item.gaya}\n\nCONTOH BENAR (BOT CS menjawab pelanggan):\n\"Halo Kak {nama_pelanggan}! Terima kasih sudah menghubungi {nama_bisnis}. Ada yang bisa kami bantu hari ini?\"\n\nCONTOH SALAH (ini sudut pandang pelanggan, JANGAN seperti ini):\n\"Halo, saya ingin bertanya tentang jadwal kelas\"\n\n=== ATURAN AGNOSTIC (WAJIB) ===\n1. DILARANG mengarang nama bisnis, produk, harga, atau data spesifik apapun!\n2. Gunakan PLACEHOLDER kurung kurawal:\n   {nama_pelanggan}, {nama_bisnis}, {nama_jasa}, {nama_paket}, {harga}, {link_daftar}, {jam_operasional}, {lokasi}, {kontak_admin}\n3. Untuk data dari Knowledge Base, gunakan KURUNG SIKU:\n   [RAG: sebutkan 3 benefit utama], [RAG: jelaskan profil tim], [RAG: sebutkan testimoni]\n4. Setiap variasi harus punya pendekatan psikologis BERBEDA.\n5. Panjang: 2-5 kalimat (cocok chat).\n\n=== FORMAT OUTPUT ===\nLANGSUNG tulis JSON array. JANGAN tulis kata pembuka, penjelasan, atau komentar apapun.\n[\n  {\n    \"name\": \"Nama strategi\",\n    \"content\": \"Isi pesan BOT CS disini...\",\n    \"category\": \"${item.category}\",\n    \"sub_category\": \"${item.intent}\"\n  }\n]`;\n\nreturn [{\n  json: {\n    intent: item.intent,\n    category: item.category,\n    count: item.count,\n    systemPrompt,\n    userPrompt: `Tulis ${item.count} template pesan BOT CS (bukan pesan pelanggan) untuk intent \"${item.intent}\". LANGSUNG output JSON array tanpa pembuka.`\n  }\n}];"
            },
            "id": "build-prompt",
            "name": "Build Agnostic Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                340,
                300
            ]
        },
        {
            "parameters": {
                "inputSource": "passthrough",
                "promptType": "define",
                "text": "={{ $json.userPrompt }}",
                "options": {
                    "systemMessage": "={{ $json.systemPrompt }}",
                    "temperature": 0.7
                }
            },
            "id": "nova-pro-gen",
            "name": "Nova Pro Generator",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                580,
                300
            ]
        },
        {
            "parameters": {
                "model": "amazon.nova-pro-v1:0",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "bedrock-llm",
            "name": "AWS Bedrock Nova Pro",
            "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
            "typeVersion": 1.1,
            "position": [
                580,
                520
            ],
            "credentials": {
                "aws": {
                    "id": "w1WID0kdD8RQoTjj",
                    "name": "us-api"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json.text || $input.first().json.response?.text || $input.first().json.output || '';\nconst intent = $('Build Agnostic Prompt').first().json.intent;\nconst category = $('Build Agnostic Prompt').first().json.category;\n\n// Step 1: Strip everything before the first [ bracket\nlet jsonStr = raw.trim();\n\n// Remove markdown code fences if present\njsonStr = jsonStr.replace(/```(?:json)?\\s*/g, '').replace(/```/g, '');\n\n// Find the actual JSON array\nconst arrStart = jsonStr.indexOf('[');\nconst arrEnd = jsonStr.lastIndexOf(']');\nif (arrStart !== -1 && arrEnd !== -1 && arrEnd > arrStart) {\n  jsonStr = jsonStr.substring(arrStart, arrEnd + 1);\n}\n\nlet templates = [];\ntry {\n  const parsed = JSON.parse(jsonStr);\n  // Normalize keys: LLM may use 'template' instead of 'content'\n  templates = parsed.map(t => ({\n    name: t.name || t.title || t.strategy || 'Unnamed',\n    content: t.content || t.template || t.text || t.message || '',\n    category: category,\n    sub_category: intent\n  }));\n  // Filter out empty content\n  templates = templates.filter(t => t.content.length > 10);\n} catch(e) {\n  // Fallback: put raw text as single template\n  templates = [{\n    name: 'Parse Error - ' + intent,\n    content: raw.substring(0, 1000),\n    category: category,\n    sub_category: intent\n  }];\n}\n\nreturn [{\n  json: {\n    intent,\n    count: templates.length,\n    templates\n  }\n}];"
            },
            "id": "parse-json",
            "name": "Parse JSON Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                820,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Collect all parsed templates from every loop iteration\nconst items = $input.all();\nconst form = $('Input Gaya Bahasa').first().json;\nconst gaya = form['Gaya Bahasa'];\nconst botId = form['Bot ID'] || null;\n\nlet allTemplates = [];\nlet summary = [];\n\nfor (const item of items) {\n  const tpls = item.json.templates || [];\n  allTemplates.push(...tpls);\n  summary.push(`${item.json.intent}: ${tpls.length} variasi`);\n}\n\nconst output = {\n  meta: {\n    generator: 'Template Generator V3 — Agnostic',\n    gaya_bahasa: gaya,\n    bot_id: botId,\n    total_templates: allTemplates.length,\n    total_intents: items.length,\n    generated_at: new Date().toISOString()\n  },\n  templates: allTemplates\n};\n\nconst fileName = `agnostic_templates_${new Date().toISOString().slice(0,10)}.json`;\nconst jsonString = JSON.stringify(output, null, 2);\n\nreturn [{\n  json: {\n    fileName,\n    totalTemplates: allTemplates.length,\n    totalIntents: items.length,\n    botId,\n    summary: summary.join('\\n'),\n    preview: allTemplates.slice(0, 3).map(t => `[${t.sub_category}] ${t.name}`).join(', ')\n  },\n  binary: {\n    data: {\n      data: Buffer.from(jsonString, 'utf-8').toString('base64'),\n      mimeType: 'application/json',\n      fileName\n    }\n  }\n}];"
            },
            "id": "merge-json",
            "name": "Merge All Templates",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                100,
                540
            ]
        },
        {
            "parameters": {
                "formTitle": "Template Generation Selesai! ✅",
                "formDescription": "={{ $json.totalTemplates }} template agnostic berhasil di-generate dari {{ $json.totalIntents }} intent.",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Total Template",
                            "fieldType": "text",
                            "fieldValue": "={{ $json.totalTemplates }} template dari {{ $json.totalIntents }} intent"
                        },
                        {
                            "fieldLabel": "File",
                            "fieldType": "text",
                            "fieldValue": "={{ $json.fileName }}"
                        },
                        {
                            "fieldLabel": "Preview",
                            "fieldType": "text",
                            "fieldValue": "={{ $json.preview }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "form-response",
            "name": "Form Response",
            "type": "n8n-nodes-base.form",
            "typeVersion": 1,
            "position": [
                340,
                540
            ]
        }
    ],
    "connections": {
        "Input Gaya Bahasa": {
            "main": [
                [
                    {
                        "node": "Set 20 Intents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set 20 Intents": {
            "main": [
                [
                    {
                        "node": "Loop Intents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Intents": {
            "main": [
                [
                    {
                        "node": "Merge All Templates",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Agnostic Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Agnostic Prompt": {
            "main": [
                [
                    {
                        "node": "Nova Pro Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AWS Bedrock Nova Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "Nova Pro Generator",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Nova Pro Generator": {
            "main": [
                [
                    {
                        "node": "Parse JSON Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON Output": {
            "main": [
                [
                    {
                        "node": "Loop Intents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge All Templates": {
            "main": [
                [
                    {
                        "node": "Form Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": [
        {
            "name": "templates"
        },
        {
            "name": "generator"
        },
        {
            "name": "v3-agnostic"
        }
    ]
}