apps/api/workflow/template-generator-v4.2-taxonomy.json
{
  "name": "Template Generator V4.1 — Continuation-Aware (Review + JSON)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Template Generator V4.2 — Taxonomy Driven",
        "formDescription": "Generate template dasar CS dari taxonomy aktif per-bot (reply_mode + greeting_policy + default count), output review JSON + Markdown.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Gaya Bahasa",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "casual-whatsapp (santai, pakai emoji, singkatan)"
                  },
                  {
                    "option": "friendly-formal (ramah tapi sopan, tanpa singkatan)"
                  },
                  {
                    "option": "formal-profesional (serius, tanpa emoji, baku)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Bot ID",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Wajib: UUID bot untuk mengambil taxonomy aktif"
            },
            {
              "fieldLabel": "Intent Key Filter (opsional)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Pisahkan dengan koma, contoh: evaluation.objection_price,retention.reschedule"
            }
          ]
        },
        "options": {
          "respondWithData": false
        }
      },
      "id": "form-trigger",
      "name": "Input Gaya Bahasa",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -400,
        300
      ],
      "webhookId": "template-generator-v3"
    },
    {
      "parameters": {
        "jsCode": "const form = $('Input Gaya Bahasa').first().json || {};\nconst taxonomy = $input.first().json || {};\nconst gaya = form['Gaya Bahasa'];\nconst botId = String(form['Bot ID'] || '').trim();\nconst intentFilterRaw = String(form['Intent Key Filter (opsional)'] || '').trim();\n\nif (!botId) {\n  throw new Error('Bot ID wajib diisi untuk generator taxonomy-driven');\n}\n\nconst strategyMap = {\n  engagement: ['warm_welcome','quick_assist','question_led','reassuring'],\n  discovery: ['overview_first','benefit_first','clarifying_question','process_explainer'],\n  evaluation: ['value_reframe','risk_reversal','social_proof','comparison_reframe','objection_handling'],\n  conversion: ['soft_cta','next_step_guidance','friction_reduction','confirmation_reassurance'],\n  retention: ['empathy_first','apology_solution','process_clarity','reassurance_followup']\n};\n\nconst parseStrategyPool = (value, category) => {\n  if (Array.isArray(value)) {\n    const arr = value.map(v => String(v || '').trim()).filter(Boolean);\n    return arr.length ? arr : (strategyMap[category] || ['general_response']);\n  }\n  if (typeof value === 'string') {\n    const s = value.trim();\n    if (!s) return strategyMap[category] || ['general_response'];\n    try {\n      const parsed = JSON.parse(s);\n      if (Array.isArray(parsed)) {\n        const arr = parsed.map(v => String(v || '').trim()).filter(Boolean);\n        return arr.length ? arr : (strategyMap[category] || ['general_response']);\n      }\n    } catch {}\n    return s.split(',').map(v => v.trim()).filter(Boolean);\n  }\n  return strategyMap[category] || ['general_response'];\n};\n\nconst filterKeys = new Set(\n  intentFilterRaw\n    ? intentFilterRaw.split(',').map(v => v.trim()).filter(Boolean)\n    : []\n);\n\nlet intents = Array.isArray(taxonomy.intents) ? taxonomy.intents : [];\nif (!intents.length && Array.isArray(taxonomy.subcategories)) {\n  intents = taxonomy.subcategories.map((sub) => ({\n    key: sub.key,\n    category_key: sub.category_key,\n    label: sub.label,\n    description: sub.description,\n    reply_mode: sub.reply_mode,\n    greeting_policy: sub.greeting_policy,\n    default_template_count: sub.default_template_count,\n    strategy_pool: sub.strategy_pool,\n    is_active: sub.effective_is_active ?? sub.is_active\n  }));\n}\n\nif (taxonomy.migration_required) {\n  throw new Error('Taxonomy belum tersedia. Jalankan migration: ' + taxonomy.migration_required);\n}\n\nintents = intents.filter((i) => i && i.key && i.is_active !== false);\nif (filterKeys.size > 0) {\n  intents = intents.filter((i) => filterKeys.has(String(i.key)));\n}\n\nif (!intents.length) {\n  throw new Error(filterKeys.size > 0\n    ? 'Tidak ada intent aktif yang cocok dengan filter: ' + Array.from(filterKeys).join(', ')\n    : 'Tidak ada intent aktif pada taxonomy bot ini');\n}\n\nconst queue = intents.map((i) => {\n  const intent = String(i.key);\n  const category = String(i.category_key || intent.split('.')[0] || 'general');\n  const targetCount = Math.max(1, Number(i.default_template_count || 3));\n  const strategyPool = parseStrategyPool(i.strategy_pool, category);\n  return {\n    category,\n    intent,\n    label: String(i.label || '').trim() || intent,\n    desc: String(i.description || '').trim() || ('Template untuk intent ' + intent),\n    count: targetCount,\n    target_count: targetCount,\n    generation_count: targetCount + 2,\n    reply_mode: String(i.reply_mode || 'continuation'),\n    greeting_policy: String(i.greeting_policy || 'forbidden'),\n    strategy_pool: strategyPool,\n    gaya,\n    botId,\n    taxonomy_source: 'db'\n  };\n});\n\nqueue.sort((a, b) => a.category.localeCompare(b.category) || a.intent.localeCompare(b.intent));\nreturn queue.map((q) => ({ json: q }));"
      },
      "id": "build-generation-queue",
      "name": "Build Generation Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop Intents",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst targetCount = item.target_count || item.count || 3;\nconst generationCount = item.generation_count || (targetCount + 2);\nconst strategyPool = Array.isArray(item.strategy_pool) ? item.strategy_pool : [];\nconst replyMode = item.reply_mode || 'continuation';\nconst greetingPolicy = item.greeting_policy || 'forbidden';\nconst intentLabel = item.label || item.intent;\n\nconst modeRules = [];\nif (replyMode === 'continuation') {\n  modeRules.push('Balasan ini HARUS terasa sebagai lanjutan percakapan, bukan pembuka chat baru.');\n  modeRules.push('JANGAN mulai dengan sapaan pembuka seperti Halo/Hai/Hei/Selamat pagi/siang/sore/malam.');\n  modeRules.push('JANGAN gunakan pembuka generik seperti Terima kasih sudah menghubungi atau Ada yang bisa kami bantu.');\n  modeRules.push('Mulai langsung dengan acknowledgement atau jawaban, contoh: Paham Kak..., Untuk..., Terkait..., Maaf ya Kak..., Siap Kak....');\n}\nif (replyMode === 'mixed') {\n  modeRules.push('Boleh pakai sapaan singkat bila natural, tapi jangan selalu terasa seperti membuka chat baru.');\n}\nif (replyMode === 'opening') {\n  modeRules.push('Sapaan pembuka diperbolehkan dan biasanya diperlukan.');\n}\nif (greetingPolicy === 'forbidden') {\n  modeRules.push('Greeting policy = forbidden: hindari sapaan pembuka eksplisit kecuali sangat perlu untuk konteks natural.');\n}\nif (greetingPolicy === 'required') {\n  modeRules.push('Greeting policy = required: sertakan sapaan pembuka yang natural.');\n}\n\nconst examples = [];\nif (replyMode === 'continuation') {\n  examples.push('CONTOH BENAR continuation: Paham Kak, untuk reschedule sesi {nama_jasa} bisa lewat {link_daftar} ya. Kalau mau, kami bantu cek slot yang tersedia juga.');\n  examples.push('CONTOH SALAH continuation: Hai {nama_pelanggan}! Ada yang bisa kami bantu hari ini?');\n}\nif (replyMode === 'opening') {\n  examples.push('CONTOH BENAR opening: Halo Kak {nama_pelanggan}! Terima kasih sudah menghubungi {nama_bisnis}. Ada yang bisa kami bantu hari ini?');\n}\n\nconst lines = [\n  'Kamu adalah Master Copywriter yang menulis TEMPLATE PESAN untuk BOT Customer Service (CS/Admin), bukan pelanggan.',\n  '',\n  'SUMBER TAXONOMY: intent aktif dari database bot (taxonomy-driven generator).',\n  '',\n  'TUJUAN:',\n  '- Buat ' + generationCount + ' draft template untuk intent ' + item.intent,\n  '- Sistem akan memvalidasi & memilih ' + targetCount + ' template terbaik',\n  '',\n  'KONTEKS INTENT:',\n  '- category: ' + item.category,\n  '- intent key: ' + item.intent,\n  '- intent label: ' + intentLabel,\n  '- deskripsi intent: ' + item.desc,\n  '- gaya bahasa: ' + item.gaya,\n  '- reply_mode: ' + replyMode,\n  '- greeting_policy: ' + greetingPolicy,\n  '',\n  'ATURAN WAJIB:',\n  '1. Sudut pandang HARUS dari CS/Admin yang membalas pelanggan.',\n  '2. DILARANG mengarang nama bisnis/produk/harga spesifik/alamat spesifik/nomor kontak spesifik.',\n  '3. Placeholder yang boleh dipakai: {nama_pelanggan}, {nama_bisnis}, {nama_jasa}, {nama_paket}, {harga}, {link_daftar}, {jam_operasional}, {lokasi}, {kontak_admin}',\n  '4. Jika perlu info KB gunakan marker [RAG: ...].',\n  '5. Variasi harus berbeda strategi/angle/urutan, bukan cuma sinonim.',\n  '6. Panjang ideal 2-5 kalimat.',\n  '7. Jangan gunakan markdown code fence.',\n  '',\n  'ATURAN MODE BALASAN:',\n  ...modeRules,\n  '',\n  'CONTOH:',\n  ...examples,\n  '',\n  'STRATEGY TAG (usahakan unik dalam satu batch): ' + (strategyPool.join(', ') || 'general_response'),\n  '',\n  'OUTPUT VALID JSON ARRAY SAJA:',\n  '[',\n  '  {',\n  '    \"name\": \"Nama strategi singkat\",',\n  '    \"strategy_tag\": \"tag_strategi\",',\n  '    \"content\": \"Isi pesan bot\",',\n  '    \"category\": \"' + item.category + '\",',\n  '    \"sub_category\": \"' + item.intent + '\",',\n  '    \"requires_rag\": false',\n  '  }',\n  ']'\n];\n\nreturn [{\n  json: {\n    intent: item.intent,\n    category: item.category,\n    label: intentLabel,\n    targetCount,\n    generationCount,\n    strategyPool,\n    replyMode,\n    greetingPolicy,\n    taxonomySource: item.taxonomy_source || 'db',\n    systemPrompt: lines.join('\\n'),\n    userPrompt: 'Buat ' + generationCount + ' draft template untuk intent ' + item.intent + ' (' + intentLabel + '). Patuhi reply_mode=' + replyMode + ' dan greeting_policy=' + greetingPolicy + '. Output VALID JSON array saja, tanpa pembuka.'\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Agnostic Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough",
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "temperature": 0.45
        }
      },
      "id": "nova-pro-gen",
      "name": "Nova Pro Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        820,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "amazon.nova-pro-v1:0",
        "options": {
          "temperature": 0.45
        }
      },
      "id": "bedrock-llm",
      "name": "AWS Bedrock Nova Pro",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        820,
        520
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json || {};\nconst promptData = $('Build Agnostic Prompt').first().json;\nconst raw = String(src.text || (src.response && src.response.text) || src.output || '');\nlet cleaned = raw.trim();\nconst bt = String.fromCharCode(96);\ncleaned = cleaned.split(bt + bt + bt + 'json').join('');\ncleaned = cleaned.split(bt + bt + bt).join('');\n\nconst firstBracket = cleaned.indexOf('[');\nconst lastBracket = cleaned.lastIndexOf(']');\nif (firstBracket !== -1 && lastBracket !== -1 && lastBracket > firstBracket) {\n  cleaned = cleaned.slice(firstBracket, lastBracket + 1);\n}\n\nconst normalizeBool = (v) => {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'string') return ['true', 'yes', '1'].includes(v.trim().toLowerCase());\n  return false;\n};\n\nlet templates = [];\nlet parseOk = false;\nlet parseError = null;\ntry {\n  const parsed = JSON.parse(cleaned);\n  if (!Array.isArray(parsed)) throw new Error('Output is not a JSON array');\n  templates = parsed.map((t, idx) => ({\n    name: String((t && (t.name || t.title || t.strategy)) || ('Template ' + (idx + 1))).trim(),\n    strategy_tag: String((t && (t.strategy_tag || t.strategy)) || '').trim(),\n    content: String((t && (t.content || t.template || t.text || t.message)) || '').trim(),\n    category: promptData.category,\n    sub_category: promptData.intent,\n    requires_rag: normalizeBool(t && t.requires_rag) || /\\[RAG:/i.test(String((t && (t.content || t.template || t.text || t.message)) || ''))\n  }));\n  parseOk = true;\n} catch (e) {\n  parseError = e.message;\n}\n\nreturn [{\n  json: {\n    intent: promptData.intent,\n    category: promptData.category,\n    label: promptData.label || promptData.intent,\n    targetCount: promptData.targetCount,\n    generationCount: promptData.generationCount,\n    strategyPool: promptData.strategyPool || [],\n    replyMode: promptData.replyMode || 'continuation',\n    greetingPolicy: promptData.greetingPolicy || 'forbidden',\n    taxonomySource: promptData.taxonomySource || 'db',\n    raw_output: raw,\n    parse_ok: parseOk,\n    parse_error: parseError,\n    parsed_count: templates.length,\n    templates\n  }\n}];"
      },
      "id": "parse-json",
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst intent = input.intent;\nconst category = input.category;\nconst label = input.label || input.intent || input.category;\nconst taxonomySource = input.taxonomySource || 'db';\nconst targetCount = input.targetCount || 3;\nconst replyMode = input.replyMode || 'continuation';\nconst greetingPolicy = input.greetingPolicy || 'forbidden';\nconst strategyPool = Array.isArray(input.strategyPool) ? input.strategyPool : [];\nconst sourceTemplates = Array.isArray(input.templates) ? input.templates : [];\n\nconst allowedPlaceholders = new Set(['nama_pelanggan','nama_bisnis','nama_jasa','nama_paket','harga','link_daftar','jam_operasional','lokasi','kontak_admin']);\nconst openerRegex = /^\\s*(halo|hai|hei|hello|selamat\\s+(pagi|siang|sore|malam))\\b/i;\nconst openingPhrases = [/terima kasih sudah menghubungi/i, /ada yang bisa kami bantu/i];\nconst continuationSignals = [/^\\s*(paham|baik|siap|maaf|untuk|terkait)\\b/i, /kami\\s+(cek|bantu|proses)/i, /untuk\\s+/i, /terkait\\s+/i];\n\nconst normalizeText = (s) => String(s || '')\n  .toLowerCase()\n  .replace(/\\[rag:[^\\]]+\\]/gi, '[rag]')\n  .replace(/\\{[^}]+\\}/g, '{var}')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst extractPlaceholders = (s) => {\n  const out = [];\n  const re = /\\{([^{}]+)\\}/g;\n  let m;\n  while ((m = re.exec(String(s || ''))) !== null) out.push(m[1].trim());\n  return out;\n};\n\nconst looksCustomerPerspective = (text) => {\n  const t = String(text || '').toLowerCase();\n  const bad = ['saya mau tanya','saya ingin tanya','aku mau tanya','saya tertarik','saya mau daftar','saya ingin daftar'];\n  return bad.some(p => t.includes(p));\n};\n\nconst hasSpecificPriceOrContact = (text) => {\n  const t = String(text || '');\n  return /(rp\\s?\\d|idr\\s?\\d|\\$\\s?\\d|\\b08\\d{8,}\\b|\\b\\d{4,}\\b)/i.test(t);\n};\n\nconst hasContinuationSignal = (text) => continuationSignals.some(re => re.test(String(text || '')));\n\nlet kept = [];\nlet rejected = [];\nlet warnings = [];\nconst seenContent = new Set();\nconst seenStrategy = new Set();\nlet openerViolationCount = 0;\n\nfor (let i = 0; i < sourceTemplates.length; i++) {\n  const t = sourceTemplates[i] || {};\n  const item = {\n    name: String(t.name || ('Template ' + (i + 1))).trim(),\n    strategy_tag: String(t.strategy_tag || '').trim(),\n    content: String(t.content || '').trim(),\n    category,\n    sub_category: intent,\n    requires_rag: !!t.requires_rag || /\\[RAG:/i.test(String(t.content || ''))\n  };\n\n  const hardIssues = [];\n  const softIssues = [];\n  if (!item.content || item.content.length < 20) hardIssues.push('content_too_short');\n  if (item.content.length > 700) hardIssues.push('content_too_long');\n  if (looksCustomerPerspective(item.content)) hardIssues.push('customer_perspective');\n  if (hasSpecificPriceOrContact(item.content)) hardIssues.push('specific_number_or_contact');\n\n  const invalidPlaceholders = extractPlaceholders(item.content).filter(p => !allowedPlaceholders.has(p));\n  if (invalidPlaceholders.length) hardIssues.push('invalid_placeholder:' + invalidPlaceholders.join(','));\n\n  if (replyMode === 'continuation') {\n    const openerViolation = openerRegex.test(item.content) || openingPhrases.some(re => re.test(item.content));\n    if (openerViolation) {\n      hardIssues.push('opener_violation');\n      openerViolationCount++;\n    }\n    if (!hasContinuationSignal(item.content)) softIssues.push('weak_continuation_signal');\n  } else if (replyMode === 'mixed') {\n    if (openerRegex.test(item.content) && !hasContinuationSignal(item.content)) softIssues.push('opening_style_in_mixed');\n  } else if (replyMode === 'opening') {\n    if (!openerRegex.test(item.content)) softIssues.push('missing_opening_tone');\n  }\n\n  const norm = normalizeText(item.content);\n  if (!norm) hardIssues.push('empty_after_normalize');\n  if (seenContent.has(norm)) hardIssues.push('duplicate_content');\n\n  const strategyKey = item.strategy_tag.toLowerCase();\n  if (strategyKey && seenStrategy.has(strategyKey)) hardIssues.push('duplicate_strategy_tag');\n  if (strategyPool.length && strategyKey && !strategyPool.includes(strategyKey)) softIssues.push('strategy_tag_outside_pool');\n\n  if (hardIssues.length) {\n    rejected.push({ index: i, name: item.name, strategy_tag: item.strategy_tag, issues: hardIssues.concat(softIssues), preview: item.content.slice(0, 180) });\n    continue;\n  }\n\n  seenContent.add(norm);\n  if (strategyKey) seenStrategy.add(strategyKey);\n  if (softIssues.length) warnings.push({ index: i, name: item.name, soft_issues: softIssues });\n  kept.push(item);\n}\n\nconst finalTemplates = kept.slice(0, targetCount);\nconst shortage = Math.max(0, targetCount - finalTemplates.length);\nconst warningCount = warnings.length;\nconst needsManualReview = !input.parse_ok || shortage > 0 || rejected.length > 0 || warningCount > 0;\nlet score = 100;\nif (!input.parse_ok) score -= 40;\nscore -= shortage * 12;\nscore -= Math.min(30, rejected.length * 2);\nscore -= Math.min(15, warningCount);\nscore = Math.max(0, score);\n\nconst issues = [];\nif (!input.parse_ok) issues.push('parse_error:' + (input.parse_error || 'unknown'));\nif (shortage > 0) issues.push('shortage:' + shortage);\nif (rejected.length > 0) issues.push('rejected:' + rejected.length);\nif (warningCount > 0) issues.push('warnings:' + warningCount);\nif (openerViolationCount > 0) issues.push('opener_violation:' + openerViolationCount);\n\nreturn [{\n  json: {\n    intent,\n    category,\n    label,\n    reply_mode: replyMode,\n    greeting_policy: greetingPolicy,\n    taxonomy_source: taxonomySource,\n    targetCount,\n    generationCount: input.generationCount || sourceTemplates.length,\n    parsed_count: input.parsed_count || sourceTemplates.length,\n    parse_ok: !!input.parse_ok,\n    parse_error: input.parse_error || null,\n    final_count: finalTemplates.length,\n    rejected_count: rejected.length,\n    warning_count: warningCount,\n    opener_violation_count: openerViolationCount,\n    shortage,\n    quality_score: score,\n    needs_manual_review: needsManualReview,\n    issues,\n    rejected,\n    warnings,\n    templates: finalTemplates\n  }\n}];"
      },
      "id": "validate-curate-v4",
      "name": "Validate & Curate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst form = $('Input Gaya Bahasa').first().json;\nconst gaya = form['Gaya Bahasa'];\nconst botId = form['Bot ID'] || null;\nconst intentFilter = String(form['Intent Key Filter (opsional)'] || '').trim();\n\nlet allTemplates = [];\nlet report = [];\nlet totalRejected = 0;\nlet totalWarnings = 0;\nlet totalOpenerViolations = 0;\nlet intentsNeedingReview = 0;\nlet taxonomySourceCounts = {};\n\nfor (const item of items) {\n  const row = item.json || {};\n  const tpls = Array.isArray(row.templates) ? row.templates : [];\n  allTemplates.push(...tpls);\n  totalRejected += row.rejected_count || 0;\n  totalWarnings += row.warning_count || 0;\n  totalOpenerViolations += row.opener_violation_count || 0;\n  if (row.needs_manual_review) intentsNeedingReview++;\n  const taxonomySource = row.taxonomy_source || 'db';\n  taxonomySourceCounts[taxonomySource] = (taxonomySourceCounts[taxonomySource] || 0) + 1;\n  report.push({\n    intent: row.intent,\n    label: row.label || row.intent,\n    category: row.category,\n    reply_mode: row.reply_mode || 'continuation',\n    greeting_policy: row.greeting_policy || 'forbidden',\n    taxonomy_source: taxonomySource,\n    target: row.targetCount,\n    generated: row.generationCount,\n    parsed: row.parsed_count,\n    final: row.final_count,\n    shortage: row.shortage,\n    rejected: row.rejected_count,\n    warnings: row.warning_count || 0,\n    opener_violations: row.opener_violation_count || 0,\n    parse_ok: row.parse_ok,\n    quality_score: row.quality_score,\n    needs_manual_review: row.needs_manual_review,\n    issues: row.issues || []\n  });\n}\n\nreport.sort((a, b) => String(a.intent).localeCompare(String(b.intent)));\nallTemplates.sort((a, b) => String(a.sub_category || '').localeCompare(String(b.sub_category || '')) || String(a.name || '').localeCompare(String(b.name || '')));\n\nconst avgQuality = report.length ? Math.round(report.reduce((sum, r) => sum + (r.quality_score || 0), 0) / report.length) : 0;\n\nconst output = {\n  meta: {\n    generator: 'Template Generator V4.2.1 — Taxonomy-Driven (Review JSON + RTF)',\n    mode: 'taxonomy-driven',\n    gaya_bahasa: gaya,\n    bot_id: botId,\n    intent_filter: intentFilter || null,\n    taxonomy_source_counts: taxonomySourceCounts,\n    total_templates: allTemplates.length,\n    total_intents: report.length,\n    intents_needing_manual_review: intentsNeedingReview,\n    total_rejected_drafts: totalRejected,\n    total_warnings: totalWarnings,\n    total_opener_violations: totalOpenerViolations,\n    average_quality_score: avgQuality,\n    generated_at: new Date().toISOString()\n  },\n  quality_report: report,\n  templates: allTemplates\n};\n\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst jsonFileName = 'templates_review_ready_taxonomy_' + dateStr + '.json';\nconst rtfFileName = 'templates_review_taxonomy_' + dateStr + '.rtf';\n\nconst rtfEscape = (value) => String(value ?? '')\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\\{/g, '\\\\{')\n  .replace(/\\}/g, '\\\\}')\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/\\r/g, '\\n')\n  .replace(/\\n/g, '\\\\line ');\n\nconst rtfLine = (text = '') => rtfEscape(text) + '\\\\par\\n';\nconst rtfBlank = () => '\\\\par\\n';\nconst rtfHeading1 = (text) => '{\\\\b\\\\fs30 ' + rtfEscape(text) + '}\\\\par\\n';\nconst rtfHeading2 = (text) => '{\\\\b\\\\fs26 ' + rtfEscape(text) + '}\\\\par\\n';\nconst rtfHeading3 = (text) => '{\\\\b\\\\fs22 ' + rtfEscape(text) + '}\\\\par\\n';\n\nlet rtf = '{\\\\rtf1\\\\ansi\\\\deff0{\\\\fonttbl{\\\\f0 Calibri;}}\\\\viewkind4\\\\uc1\\\\pard\\\\f0\\\\fs22\\n';\nrtf += rtfHeading1('Dokumentasi Template Chatbot (Review V4.2.1 Taxonomy-Driven)');\nrtf += rtfBlank();\nrtf += rtfLine('Generated: ' + new Date().toLocaleString());\nrtf += rtfLine('Gaya Bahasa: ' + gaya);\nrtf += rtfLine('Bot ID: ' + (botId || '-'));\nrtf += rtfLine('Intent Filter: ' + (intentFilter || '-'));\nrtf += rtfLine('Total intent: ' + report.length);\nrtf += rtfLine('Total template final: ' + allTemplates.length);\nrtf += rtfLine('Rata-rata quality score: ' + avgQuality);\nrtf += rtfLine('Total opener violation (draft): ' + totalOpenerViolations);\nrtf += rtfLine('Intent perlu review manual: ' + intentsNeedingReview);\nrtf += rtfLine('Taxonomy source: ' + Object.entries(taxonomySourceCounts).map(([k, v]) => k + '=' + v).join(', '));\nrtf += rtfBlank();\n\nrtf += rtfHeading2('Ringkasan Kualitas per Intent');\nrtf += rtfLine('Format: Intent | Mode | Greet Policy | Target | Final | Reject | Warn | Opener | Score | Review');\nfor (const r of report) {\n  rtf += rtfLine([\n    r.intent,\n    r.reply_mode,\n    r.greeting_policy,\n    'target=' + r.target,\n    'final=' + r.final,\n    'reject=' + r.rejected,\n    'warn=' + r.warnings,\n    'opener=' + r.opener_violations,\n    'score=' + r.quality_score,\n    'review=' + (r.needs_manual_review ? 'Ya' : 'Tidak')\n  ].join(' | '));\n  if (Array.isArray(r.issues) && r.issues.length) {\n    rtf += rtfLine('  Issues: ' + r.issues.join(', '));\n  }\n}\nrtf += rtfBlank();\n\nconst grouped = {};\nfor (const t of allTemplates) {\n  if (!grouped[t.category]) grouped[t.category] = {};\n  if (!grouped[t.category][t.sub_category]) grouped[t.category][t.sub_category] = [];\n  grouped[t.category][t.sub_category].push(t);\n}\n\nrtf += rtfHeading2('Template Final (Siap Direview)');\nfor (const category of Object.keys(grouped).sort()) {\n  rtf += rtfBlank();\n  rtf += rtfHeading2('Category: ' + category);\n  for (const subCategory of Object.keys(grouped[category]).sort()) {\n    rtf += rtfHeading3('Intent: ' + subCategory);\n    grouped[category][subCategory].forEach((t, idx) => {\n      const meta = [];\n      if (t.strategy_tag) meta.push('strategy: ' + t.strategy_tag);\n      if (t.requires_rag) meta.push('RAG');\n      rtf += rtfLine((idx + 1) + '. ' + (t.name || 'Unnamed') + (meta.length ? ' [' + meta.join(' | ') + ']' : ''));\n      rtf += rtfLine(t.content || '');\n      rtf += rtfBlank();\n    });\n  }\n}\nrtf += '}';\n\nconst jsonString = JSON.stringify(output, null, 2);\nreturn [{\n  json: {\n    fileName: jsonFileName,\n    reviewFileName: rtfFileName,\n    totalTemplates: allTemplates.length,\n    totalIntents: report.length,\n    averageQualityScore: avgQuality,\n    intentsNeedingReview: intentsNeedingReview,\n    totalOpenerViolations: totalOpenerViolations,\n    botId,\n    taxonomySources: Object.entries(taxonomySourceCounts).map(([k,v]) => k + ':' + v).join(', '),\n    summary: report.map(r => r.intent + ': ' + r.final + '/' + r.target + ' (mode ' + r.reply_mode + ', score ' + r.quality_score + ')').join('\\n'),\n    preview: allTemplates.slice(0, 3).map(t => '[' + t.sub_category + '] ' + t.name).join(', ')\n  },\n  binary: {\n    json_file: { data: Buffer.from(jsonString, 'utf-8').toString('base64'), mimeType: 'application/json', fileName: jsonFileName },\n    review_rtf: { data: Buffer.from(rtf, 'utf-8').toString('base64'), mimeType: 'application/rtf', fileName: rtfFileName }\n  }\n}];"
      },
      "id": "merge-json",
      "name": "Merge All Templates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        540
      ]
    },
    {
      "parameters": {
        "formTitle": "Template Generation V4.2.1 (Taxonomy) Selesai ✅",
        "formDescription": "={{ $json.totalTemplates }} template final dari taxonomy bot. Avg quality {{ $json.averageQualityScore }}. Review file siap edit (RTF/Word).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Total Template",
              "fieldType": "text",
              "fieldValue": "={{ $json.totalTemplates }} template dari {{ $json.totalIntents }} intent"
            },
            {
              "fieldLabel": "Avg Quality",
              "fieldType": "text",
              "fieldValue": "={{ $json.averageQualityScore }} / 100"
            },
            {
              "fieldLabel": "Opener Violations",
              "fieldType": "text",
              "fieldValue": "={{ $json.totalOpenerViolations }} draft"
            },
            {
              "fieldLabel": "Need Review",
              "fieldType": "text",
              "fieldValue": "={{ $json.intentsNeedingReview }} intent"
            },
            {
              "fieldLabel": "Taxonomy Source",
              "fieldType": "text",
              "fieldValue": "={{ $json.taxonomySources || \"db\" }}"
            },
            {
              "fieldLabel": "JSON File",
              "fieldType": "text",
              "fieldValue": "={{ $json.fileName }}"
            },
            {
              "fieldLabel": "Review DOC (RTF)",
              "fieldType": "text",
              "fieldValue": "={{ $json.reviewFileName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "form-response",
      "name": "Form Response",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        580,
        540
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/v1/internal/template-taxonomy/{{ encodeURIComponent($('Input Gaya Bahasa').first().json['Bot ID']) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "=dev-internal-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-template-taxonomy-generator",
      "name": "Fetch Template Taxonomy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        300
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Input Gaya Bahasa": {
      "main": [
        [
          {
            "node": "Fetch Template Taxonomy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Intents": {
      "main": [
        [
          {
            "node": "Merge All Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Agnostic Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agnostic Prompt": {
      "main": [
        [
          {
            "node": "Nova Pro Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Nova Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Nova Pro Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Nova Pro Generator": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "Validate & Curate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Templates": {
      "main": [
        [
          {
            "node": "Form Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Curate": {
      "main": [
        [
          {
            "node": "Loop Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template Taxonomy": {
      "main": [
        [
          {
            "node": "Build Generation Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Generation Queue": {
      "main": [
        [
          {
            "node": "Loop Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "templates"
    },
    {
      "name": "generator"
    },
    {
      "name": "v4.1"
    },
    {
      "name": "continuation-aware"
    },
    {
      "name": "review"
    }
  ]
}