apps/api/workflow/template-generator-v4-optimized.json
{
  "name": "Template Generator V4 — Optimized (Review + JSON)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Template Generator V4 — Optimized Review",
        "formDescription": "Generate template dasar CS (agnostic) dengan validasi, dedupe, dan output review (Markdown + JSON).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Gaya Bahasa",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "casual-whatsapp (santai, pakai emoji, singkatan)"
                  },
                  {
                    "option": "friendly-formal (ramah tapi sopan, tanpa singkatan)"
                  },
                  {
                    "option": "formal-profesional (serius, tanpa emoji, baku)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Bot ID",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Opsional: UUID bot untuk langsung import ke DB nanti"
            }
          ]
        },
        "options": {
          "respondWithData": false
        }
      },
      "id": "form-trigger",
      "name": "Input Gaya Bahasa",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -400,
        300
      ],
      "webhookId": "template-generator-v3"
    },
    {
      "parameters": {
        "jsCode": "const form = $input.first().json;\nconst gaya = form['Gaya Bahasa'];\nconst botId = form['Bot ID'] || null;\n\nconst strategyMap = {\n  engagement: ['warm_welcome','quick_assist','question_led','reassuring'],\n  discovery: ['overview_first','benefit_first','clarifying_question','process_explainer'],\n  evaluation: ['value_reframe','risk_reversal','social_proof','comparison_reframe','objection_handling'],\n  conversion: ['soft_cta','next_step_guidance','friction_reduction','confirmation_reassurance'],\n  retention: ['empathy_first','apology_solution','process_clarity','reassurance_followup']\n};\n\nconst intents = [\n  { category: 'engagement', intent: 'engagement.greeting_new', count: 3, desc: 'Sapaan hangat untuk kontak BARU yang pertama kali mengirim pesan. Bangun kesan pertama positif dan ajak pelanggan menyampaikan kebutuhannya.' },\n  { category: 'engagement', intent: 'engagement.greeting_return', count: 3, desc: 'Sapaan untuk pelanggan LAMA yang kembali chat setelah lama tidak aktif (>24 jam). Tunjukkan bahwa kita ingat dan senang mereka kembali.' },\n  { category: 'engagement', intent: 'engagement.time_inquiry', count: 3, desc: 'Menjawab pertanyaan tentang jam operasional, ketersediaan slot, atau kapan bisa konsultasi.' },\n  { category: 'discovery', intent: 'discovery.program_detail', count: 4, desc: 'Menjelaskan gambaran umum program/jasa yang ditawarkan. Fokus pada overview, bukan detail teknis.' },\n  { category: 'discovery', intent: 'discovery.schedule_location', count: 3, desc: 'Memberikan informasi jadwal, lokasi fisik, atau cara akses layanan (online/offline).' },\n  { category: 'discovery', intent: 'discovery.tutor_profile', count: 3, desc: 'Menjawab pertanyaan tentang tim/tenaga ahli/pengajar. Fokus pada kredibilitas dan pengalaman.' },\n  { category: 'discovery', intent: 'discovery.curriculum', count: 3, desc: 'Menjelaskan kurikulum, materi, metode kerja, atau tahapan layanan yang diberikan.' },\n  { category: 'evaluation', intent: 'evaluation.pricing_inquiry', count: 4, desc: 'Menyampaikan informasi harga/biaya/paket secara informatif. Belum ada keberatan, murni tanya harga.' },\n  { category: 'evaluation', intent: 'evaluation.objection_price', count: 4, desc: 'Menangani keberatan HARGA MAHAL. Fokus pada value & benefit.' },\n  { category: 'evaluation', intent: 'evaluation.objection_compare', count: 3, desc: 'Menangani perbandingan langsung dengan kompetitor. Fokus pada diferensiasi tanpa menjatuhkan.' },\n  { category: 'evaluation', intent: 'evaluation.objection_risk', count: 4, desc: 'Menangani ketakutan resiko. Fokus pada risk reversal.' },\n  { category: 'evaluation', intent: 'evaluation.objection_authority', count: 3, desc: 'Menangani keraguan kredibilitas. Fokus pada social proof.' },\n  { category: 'evaluation', intent: 'evaluation.objection_urgency', count: 3, desc: 'Menjawab pelanggan yang menunda keputusan, dorong tanpa terlalu menekan.' },\n  { category: 'conversion', intent: 'conversion.soft', count: 3, desc: 'Ajakan lembut untuk pelanggan yang sudah tertarik tapi belum memutuskan.' },\n  { category: 'conversion', intent: 'conversion.transaction', count: 3, desc: 'Instruksi pendaftaran/pembayaran yang jelas dan mudah diikuti.' },\n  { category: 'conversion', intent: 'conversion.confirm', count: 3, desc: 'Konfirmasi penerimaan pendaftaran/pembayaran dan next step.' },\n  { category: 'retention', intent: 'retention.complaint_service', count: 4, desc: 'Respons keluhan layanan dengan empati tinggi dan solusi konkret.' },\n  { category: 'retention', intent: 'retention.complaint_refund', count: 3, desc: 'Menangani permintaan refund dengan empati dan proses jelas.' },\n  { category: 'retention', intent: 'retention.progress_inquiry', count: 3, desc: 'Menjawab pertanyaan progres layanan yang sedang berjalan.' },\n  { category: 'retention', intent: 'retention.reschedule', count: 3, desc: 'Membantu pelanggan mengubah jadwal atau reschedule sesi.' }\n];\n\nreturn intents.map(i => ({\n  json: {\n    ...i,\n    gaya,\n    botId,\n    target_count: i.count,\n    generation_count: i.count + 2,\n    strategy_pool: strategyMap[i.category] || ['general_response']\n  }\n}));"
      },
      "id": "set-intents",
      "name": "Set 20 Intents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop Intents",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst targetCount = item.target_count || item.count || 3;\nconst generationCount = item.generation_count || (targetCount + 2);\nconst strategyPool = Array.isArray(item.strategy_pool) ? item.strategy_pool : [];\n\nconst lines = [\n  'Kamu adalah Master Copywriter yang menulis TEMPLATE PESAN untuk BOT Customer Service (CS/Admin), bukan pelanggan.',\n  '',\n  'TUJUAN:',\n  '- Buat ' + generationCount + ' draft template untuk intent ' + item.intent,\n  '- Sistem akan memvalidasi & memilih ' + targetCount + ' template terbaik',\n  '',\n  'KONTEKS:',\n  '- category: ' + item.category,\n  '- intent: ' + item.intent,\n  '- deskripsi: ' + item.desc,\n  '- gaya bahasa: ' + item.gaya,\n  '',\n  'ATURAN WAJIB:',\n  '1. Sudut pandang HARUS dari CS/Admin yang membalas pelanggan.',\n  '2. DILARANG mengarang nama bisnis/produk/harga spesifik/alamat spesifik/nomor kontak spesifik.',\n  '3. Placeholder yang boleh dipakai: {nama_pelanggan}, {nama_bisnis}, {nama_jasa}, {nama_paket}, {harga}, {link_daftar}, {jam_operasional}, {lokasi}, {kontak_admin}',\n  '4. Jika perlu info KB gunakan marker [RAG: ...].',\n  '5. Variasi harus berbeda strategi/angle/urutan, bukan cuma sinonim.',\n  '6. Panjang ideal 2-5 kalimat.',\n  '7. Jangan gunakan markdown code fence.',\n  '',\n  'STRATEGY TAG (usahakan unik dalam satu batch): ' + (strategyPool.join(', ') || 'general_response'),\n  '',\n  'OUTPUT VALID JSON ARRAY SAJA:',\n  '[',\n  '  {',\n  '    \"name\": \"Nama strategi singkat\",',\n  '    \"strategy_tag\": \"tag_strategi\",',\n  '    \"content\": \"Isi pesan bot\",',\n  '    \"category\": \"' + item.category + '\",',\n  '    \"sub_category\": \"' + item.intent + '\",',\n  '    \"requires_rag\": false',\n  '  }',\n  ']'\n];\n\nreturn [{\n  json: {\n    intent: item.intent,\n    category: item.category,\n    targetCount,\n    generationCount,\n    strategyPool,\n    systemPrompt: lines.join('\\n'),\n    userPrompt: 'Buat ' + generationCount + ' draft template untuk intent ' + item.intent + '. Output VALID JSON array saja, tanpa pembuka.'\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Agnostic Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough",
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "temperature": 0.45
        }
      },
      "id": "nova-pro-gen",
      "name": "Nova Pro Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        580,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "amazon.nova-pro-v1:0",
        "options": {
          "temperature": 0.45
        }
      },
      "id": "bedrock-llm",
      "name": "AWS Bedrock Nova Pro",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        580,
        520
      ],
      "credentials": {
        "aws": {
          "id": "w1WID0kdD8RQoTjj",
          "name": "us-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json || {};\nconst promptData = $('Build Agnostic Prompt').first().json;\nconst raw = String(src.text || (src.response && src.response.text) || src.output || '');\nlet cleaned = raw.trim();\nconst bt = String.fromCharCode(96);\ncleaned = cleaned.split(bt + bt + bt + 'json').join('');\ncleaned = cleaned.split(bt + bt + bt).join('');\n\nconst firstBracket = cleaned.indexOf('[');\nconst lastBracket = cleaned.lastIndexOf(']');\nif (firstBracket !== -1 && lastBracket !== -1 && lastBracket > firstBracket) {\n  cleaned = cleaned.slice(firstBracket, lastBracket + 1);\n}\n\nconst normalizeBool = (v) => {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'string') return ['true', 'yes', '1'].includes(v.trim().toLowerCase());\n  return false;\n};\n\nlet templates = [];\nlet parseOk = false;\nlet parseError = null;\ntry {\n  const parsed = JSON.parse(cleaned);\n  if (!Array.isArray(parsed)) throw new Error('Output is not a JSON array');\n  templates = parsed.map((t, idx) => ({\n    name: String((t && (t.name || t.title || t.strategy)) || ('Template ' + (idx + 1))).trim(),\n    strategy_tag: String((t && (t.strategy_tag || t.strategy)) || '').trim(),\n    content: String((t && (t.content || t.template || t.text || t.message)) || '').trim(),\n    category: promptData.category,\n    sub_category: promptData.intent,\n    requires_rag: normalizeBool(t && t.requires_rag) || /\\[RAG:/i.test(String((t && (t.content || t.template || t.text || t.message)) || ''))\n  }));\n  parseOk = true;\n} catch (e) {\n  parseError = e.message;\n}\n\nreturn [{\n  json: {\n    intent: promptData.intent,\n    category: promptData.category,\n    targetCount: promptData.targetCount,\n    generationCount: promptData.generationCount,\n    strategyPool: promptData.strategyPool || [],\n    raw_output: raw,\n    parse_ok: parseOk,\n    parse_error: parseError,\n    parsed_count: templates.length,\n    templates\n  }\n}];"
      },
      "id": "parse-json",
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst intent = input.intent;\nconst category = input.category;\nconst targetCount = input.targetCount || 3;\nconst strategyPool = Array.isArray(input.strategyPool) ? input.strategyPool : [];\nconst sourceTemplates = Array.isArray(input.templates) ? input.templates : [];\n\nconst allowedPlaceholders = new Set(['nama_pelanggan','nama_bisnis','nama_jasa','nama_paket','harga','link_daftar','jam_operasional','lokasi','kontak_admin']);\n\nconst normalizeText = (s) => String(s || '')\n  .toLowerCase()\n  .replace(/\\[rag:[^\\]]+\\]/gi, '[rag]')\n  .replace(/\\{[^}]+\\}/g, '{var}')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst extractPlaceholders = (s) => {\n  const out = [];\n  const re = /\\{([^{}]+)\\}/g;\n  let m;\n  while ((m = re.exec(String(s || ''))) !== null) out.push(m[1].trim());\n  return out;\n};\n\nconst looksCustomerPerspective = (text) => {\n  const t = String(text || '').toLowerCase();\n  const bad = ['saya mau tanya','saya ingin tanya','aku mau tanya','saya tertarik','saya mau daftar','saya ingin daftar'];\n  return bad.some(p => t.includes(p));\n};\n\nconst hasSpecificPriceOrContact = (text) => {\n  const t = String(text || '');\n  return /(rp\\s?\\d|idr\\s?\\d|\\$\\s?\\d|\\b08\\d{8,}\\b|\\b\\d{4,}\\b)/i.test(t);\n};\n\nlet kept = [];\nlet rejected = [];\nconst seenContent = new Set();\nconst seenStrategy = new Set();\n\nfor (let i = 0; i < sourceTemplates.length; i++) {\n  const t = sourceTemplates[i] || {};\n  const item = {\n    name: String(t.name || ('Template ' + (i + 1))).trim(),\n    strategy_tag: String(t.strategy_tag || '').trim(),\n    content: String(t.content || '').trim(),\n    category,\n    sub_category: intent,\n    requires_rag: !!t.requires_rag || /\\[RAG:/i.test(String(t.content || ''))\n  };\n\n  const issues = [];\n  if (!item.content || item.content.length < 20) issues.push('content_too_short');\n  if (item.content.length > 700) issues.push('content_too_long');\n  if (looksCustomerPerspective(item.content)) issues.push('customer_perspective');\n  if (hasSpecificPriceOrContact(item.content)) issues.push('specific_number_or_contact');\n  const invalidPlaceholders = extractPlaceholders(item.content).filter(p => !allowedPlaceholders.has(p));\n  if (invalidPlaceholders.length) issues.push('invalid_placeholder:' + invalidPlaceholders.join(','));\n\n  const norm = normalizeText(item.content);\n  if (!norm) issues.push('empty_after_normalize');\n  if (seenContent.has(norm)) issues.push('duplicate_content');\n\n  const strategyKey = item.strategy_tag.toLowerCase();\n  if (strategyKey && seenStrategy.has(strategyKey)) issues.push('duplicate_strategy_tag');\n  if (strategyPool.length && strategyKey && !strategyPool.includes(strategyKey)) issues.push('strategy_tag_outside_pool');\n\n  if (issues.length) {\n    rejected.push({ index: i, name: item.name, strategy_tag: item.strategy_tag, issues, preview: item.content.slice(0, 160) });\n    continue;\n  }\n\n  seenContent.add(norm);\n  if (strategyKey) seenStrategy.add(strategyKey);\n  kept.push(item);\n}\n\nconst finalTemplates = kept.slice(0, targetCount);\nconst shortage = Math.max(0, targetCount - finalTemplates.length);\nconst needsManualReview = !input.parse_ok || shortage > 0 || rejected.length > 0;\nlet score = 100;\nif (!input.parse_ok) score -= 40;\nscore -= shortage * 12;\nscore -= Math.min(30, rejected.length * 2);\nscore = Math.max(0, score);\n\nconst issues = [];\nif (!input.parse_ok) issues.push('parse_error:' + (input.parse_error || 'unknown'));\nif (shortage > 0) issues.push('shortage:' + shortage);\nif (rejected.length > 0) issues.push('rejected:' + rejected.length);\n\nreturn [{\n  json: {\n    intent,\n    category,\n    targetCount,\n    generationCount: input.generationCount || sourceTemplates.length,\n    parsed_count: input.parsed_count || sourceTemplates.length,\n    parse_ok: !!input.parse_ok,\n    parse_error: input.parse_error || null,\n    final_count: finalTemplates.length,\n    rejected_count: rejected.length,\n    shortage,\n    quality_score: score,\n    needs_manual_review: needsManualReview,\n    issues,\n    rejected,\n    templates: finalTemplates\n  }\n}];"
      },
      "id": "validate-curate-v4",
      "name": "Validate & Curate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst form = $('Input Gaya Bahasa').first().json;\nconst gaya = form['Gaya Bahasa'];\nconst botId = form['Bot ID'] || null;\n\nlet allTemplates = [];\nlet report = [];\nlet totalRejected = 0;\nlet intentsNeedingReview = 0;\n\nfor (const item of items) {\n  const row = item.json || {};\n  const tpls = Array.isArray(row.templates) ? row.templates : [];\n  allTemplates.push(...tpls);\n  totalRejected += row.rejected_count || 0;\n  if (row.needs_manual_review) intentsNeedingReview++;\n  report.push({\n    intent: row.intent,\n    category: row.category,\n    target: row.targetCount,\n    generated: row.generationCount,\n    parsed: row.parsed_count,\n    final: row.final_count,\n    shortage: row.shortage,\n    rejected: row.rejected_count,\n    parse_ok: row.parse_ok,\n    quality_score: row.quality_score,\n    needs_manual_review: row.needs_manual_review,\n    issues: row.issues || []\n  });\n}\n\nreport.sort((a, b) => String(a.intent).localeCompare(String(b.intent)));\nallTemplates.sort((a, b) => String(a.sub_category || '').localeCompare(String(b.sub_category || '')) || String(a.name || '').localeCompare(String(b.name || '')));\n\nconst avgQuality = report.length ? Math.round(report.reduce((sum, r) => sum + (r.quality_score || 0), 0) / report.length) : 0;\n\nconst output = {\n  meta: {\n    generator: 'Template Generator V4 — Optimized (Review + JSON)',\n    gaya_bahasa: gaya,\n    bot_id: botId,\n    total_templates: allTemplates.length,\n    total_intents: report.length,\n    intents_needing_manual_review: intentsNeedingReview,\n    total_rejected_drafts: totalRejected,\n    average_quality_score: avgQuality,\n    generated_at: new Date().toISOString()\n  },\n  quality_report: report,\n  templates: allTemplates\n};\n\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst jsonFileName = 'templates_review_ready_' + dateStr + '.json';\nconst mdFileName = 'templates_review_report_' + dateStr + '.md';\n\nlet md = '';\nmd += '# Dokumentasi Template Chatbot (Review V4)\\n\\n';\nmd += '- Generated: ' + new Date().toLocaleString() + '\\n';\nmd += '- Gaya Bahasa: ' + gaya + '\\n';\nmd += '- Bot ID: ' + (botId || '-') + '\\n';\nmd += '- Total intent: ' + report.length + '\\n';\nmd += '- Total template final: ' + allTemplates.length + '\\n';\nmd += '- Rata-rata quality score: ' + avgQuality + '\\n';\nmd += '- Intent perlu review manual: ' + intentsNeedingReview + '\\n\\n';\nmd += '## Ringkasan Kualitas per Intent\\n\\n';\nmd += '| Intent | Target | Final | Rejected | Score | Review | Catatan |\\n';\nmd += '|---|---:|---:|---:|---:|---|---|\\n';\nfor (const r of report) {\n  md += '| ' + r.intent + ' | ' + r.target + ' | ' + r.final + ' | ' + r.rejected + ' | ' + r.quality_score + ' | ' + (r.needs_manual_review ? 'Ya' : 'Tidak') + ' | ' + ((r.issues || []).join(', ') || '-') + ' |\\n';\n}\n\nconst grouped = {};\nfor (const t of allTemplates) {\n  if (!grouped[t.category]) grouped[t.category] = {};\n  if (!grouped[t.category][t.sub_category]) grouped[t.category][t.sub_category] = [];\n  grouped[t.category][t.sub_category].push(t);\n}\n\nmd += '\\n## Template Final (Siap Direview)\\n';\nfor (const category of Object.keys(grouped).sort()) {\n  md += '\\n### ' + category + '\\n';\n  for (const subCategory of Object.keys(grouped[category]).sort()) {\n    md += '\\n#### ' + subCategory + '\\n';\n    grouped[category][subCategory].forEach((t, idx) => {\n      md += '\\n' + (idx + 1) + '. **' + (t.name || 'Unnamed') + '**';\n      if (t.strategy_tag) md += ' _(strategy: ' + t.strategy_tag + ')_';\n      if (t.requires_rag) md += ' [RAG]';\n      md += '\\n\\n' + t.content + '\\n';\n    });\n  }\n}\n\nconst jsonString = JSON.stringify(output, null, 2);\n\nreturn [{\n  json: {\n    fileName: jsonFileName,\n    reviewFileName: mdFileName,\n    totalTemplates: allTemplates.length,\n    totalIntents: report.length,\n    averageQualityScore: avgQuality,\n    intentsNeedingReview: intentsNeedingReview,\n    botId,\n    summary: report.map(r => r.intent + ': ' + r.final + '/' + r.target + ' (score ' + r.quality_score + ')').join('\\n'),\n    preview: allTemplates.slice(0, 3).map(t => '[' + t.sub_category + '] ' + t.name).join(', ')\n  },\n  binary: {\n    json_file: {\n      data: Buffer.from(jsonString, 'utf-8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: jsonFileName\n    },\n    review_md: {\n      data: Buffer.from(md, 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: mdFileName\n    }\n  }\n}];"
      },
      "id": "merge-json",
      "name": "Merge All Templates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        540
      ]
    },
    {
      "parameters": {
        "formTitle": "Template Generation V4 Selesai ✅",
        "formDescription": "={{ $json.totalTemplates }} template final dari {{ $json.totalIntents }} intent. Avg quality {{ $json.averageQualityScore }}. Need review: {{ $json.intentsNeedingReview }} intent.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Total Template",
              "fieldType": "text",
              "fieldValue": "={{ $json.totalTemplates }} template dari {{ $json.totalIntents }} intent"
            },
            {
              "fieldLabel": "Avg Quality",
              "fieldType": "text",
              "fieldValue": "={{ $json.averageQualityScore }} / 100"
            },
            {
              "fieldLabel": "Need Review",
              "fieldType": "text",
              "fieldValue": "={{ $json.intentsNeedingReview }} intent"
            },
            {
              "fieldLabel": "JSON File",
              "fieldType": "text",
              "fieldValue": "={{ $json.fileName }}"
            },
            {
              "fieldLabel": "Review MD",
              "fieldType": "text",
              "fieldValue": "={{ $json.reviewFileName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "form-response",
      "name": "Form Response",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        340,
        540
      ]
    }
  ],
  "connections": {
    "Input Gaya Bahasa": {
      "main": [
        [
          {
            "node": "Set 20 Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 20 Intents": {
      "main": [
        [
          {
            "node": "Loop Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Intents": {
      "main": [
        [
          {
            "node": "Merge All Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Agnostic Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agnostic Prompt": {
      "main": [
        [
          {
            "node": "Nova Pro Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Nova Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Nova Pro Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Nova Pro Generator": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "Validate & Curate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Templates": {
      "main": [
        [
          {
            "node": "Form Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Curate": {
      "main": [
        [
          {
            "node": "Loop Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "templates"
    },
    {
      "name": "generator"
    },
    {
      "name": "v4-optimized"
    },
    {
      "name": "review"
    }
  ]
}