apps/api/workflow/v1-chat-responder.json
{
    "name": "V1 Chat Responder",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat-message",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-entry",
            "name": "Chat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -800,
                300
            ],
            "webhookId": "chat-message"
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "check-text",
                            "leftValue": "={{ $json.text }}",
                            "operator": {
                                "operation": "notEmpty",
                                "type": "string"
                            },
                            "rightValue": ""
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict",
                        "version": 3
                    }
                },
                "options": {}
            },
            "id": "check-content",
            "name": "Has Content?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -580,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"skipped\": true, \"reason\": \"empty_content\" }",
                "options": {}
            },
            "id": "skip-empty",
            "name": "Skip Empty",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -380,
                480
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://api:8080/v1/internal/bot-config/{{ $('Chat Webhook').item.json.bot_id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "id": "fetch-config",
            "name": "Fetch Bot Config",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const webhook = $('Chat Webhook').first().json;\nconst config = $input.first().json;\n\n// Build system prompt with [HANDOFF] instruction\nconst handoffInstruction = config.handoff_enabled\n  ? '\\n\\nATURAN HANDOFF:\\n- Jika pelanggan meminta bicara dengan manusia/CS/admin/tim, balas dengan sopan lalu tambahkan [HANDOFF] di akhir pesanmu.\\n- Jika pertanyaan benar-benar di luar kemampuanmu dan knowledge base tidak membantu, tambahkan [HANDOFF] di akhir pesanmu.\\n- Jangan terlalu sering menggunakan [HANDOFF]. Coba jawab dulu sebaik mungkin.'\n  : '';\n\nconst systemPrompt = (config.system_prompt || 'You are a helpful customer service assistant.')\n  + handoffInstruction;\n\nreturn [{\n  json: {\n    conversation_id: webhook.conversation_id,\n    bot_id: webhook.bot_id,\n    text: webhook.text,\n    channel_type: webhook.channel_type,\n    system_prompt: systemPrompt,\n    bot_name: config.name || 'AI Assistant',\n    rag_top_k: config.rag_top_k || 6\n  }\n}];"
            },
            "id": "prepare-context",
            "name": "Prepare Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -160,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.text }}",
                "options": {
                    "systemMessage": "={{ $json.system_prompt }}",
                    "maxIterations": 5,
                    "returnIntermediateSteps": false
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                80,
                300
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "llm-gemini",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                -40,
                520
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Prepare Context').item.json.conversation_id }}",
                "contextWindowLength": 10
            },
            "id": "memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                80,
                520
            ]
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolDescription": "Cari informasi dari knowledge base. Gunakan untuk menjawab pertanyaan tentang produk, harga, promo, kebijakan, pengiriman, dan informasi bisnis lainnya. Selalu gunakan tool ini sebelum menjawab pertanyaan pelanggan.",
                "tableName": "kb_embeddings",
                "options": {}
            },
            "id": "kb-tool",
            "name": "Knowledge Base",
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.3,
            "position": [
                200,
                520
            ]
        },
        {
            "parameters": {},
            "id": "embeddings",
            "name": "Embeddings Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                200,
                700
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://api:8080/v1/internal/ai-response",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"conversation_id\": \"{{ $('Prepare Context').item.json.conversation_id }}\",\n  \"content\": {{ JSON.stringify($json.output || '') }},\n  \"sender_type\": \"bot\"\n}",
                "options": {}
            },
            "id": "send-response",
            "name": "Send AI Response",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"ai_responded\": true }",
                "options": {}
            },
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                520,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://api:8080/v1/internal/ai-response",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"conversation_id\": \"{{ $('Prepare Context').item.json.conversation_id }}\",\n  \"content\": \"Mohon maaf, sistem kami sedang mengalami gangguan teknis. Silakan coba lagi dalam beberapa saat.\",\n  \"sender_type\": \"bot\"\n}",
                "options": {}
            },
            "id": "send-error",
            "name": "Send Error Fallback",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                480
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": false, \"error\": \"ai_failed\" }",
                "options": {}
            },
            "id": "respond-error",
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                520,
                480
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Chat Webhook": {
            "main": [
                [
                    {
                        "node": "Has Content?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Content?": {
            "main": [
                [
                    {
                        "node": "Fetch Bot Config",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Empty",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Bot Config": {
            "main": [
                [
                    {
                        "node": "Prepare Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Context": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Send AI Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Error Fallback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Knowledge Base": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Google Gemini": {
            "ai_embedding": [
                [
                    {
                        "node": "Knowledge Base",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Send AI Response": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Error Fallback": {
            "main": [
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": [
        {
            "name": "chat"
        },
        {
            "name": "v1"
        }
    ]
}
